<div class='container-fluid' style='height:100%'>
  <div class='row' style='height:100%'>
    <div class='col col-6' style='height:100%'>
      
      <div *ngIf="!token">
        <h3>Reset Password</h3>
        <p>Enter your email address and we'll send you a link to reset your password.</p>
        
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group mt-3">
            <button class="btn btn-primary" type="submit">Send Reset Link</button>
            <a routerLink="/user/signin" class="btn btn-link">Back to Sign In</a>
          </div>
        </form>
      </div>

      <div *ngIf="token">
        <h3>Set New Password</h3>
        <p>Please enter your new password.</p>

        <form [formGroup]="newPasswordForm" (ngSubmit)="onNewPasswordSubmit()">
          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" id="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && n.password.errors }" />
            <div *ngIf="submitted && n.password.errors" class="invalid-feedback">
              <div *ngIf="n.password.errors.required">Password is required</div>
              <div *ngIf="n.password.errors.minlength">Password must be at least 6 characters long</div>
            </div>
          </div>

          <div class="form-group mt-2">
            <label for="repeatPassword">Repeat Password</label>
            <input type="password" id="repeatPassword" formControlName="repeatPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && n.repeatPassword.errors }" />
            <div *ngIf="submitted && n.repeatPassword.errors" class="invalid-feedback">
               <div *ngIf="n.repeatPassword.errors.required">Repeat Password is required</div>
               <div *ngIf="n.repeatPassword.errors.minlength">Repeat Password must be at least 6 characters long</div>
            </div>
          </div>

          <div *ngIf="submitted && newPasswordForm.errors?.isRepeatPassword" class="alert alert-danger mt-2">
            Passwords must match.
          </div>

          <div class="form-group mt-3">
            <button class="btn btn-primary" type="submit">Change Password</button>
            <a routerLink="/user/signin" class="btn btn-link">Back to Sign In</a>
          </div>
        </form>
      </div>

    </div>
    <div class='col col-6 image-container'
      style='height:100%;width:100%;background-image: linear-gradient(to left, rgba(245, 246, 252, 0), rgba(-0, 0, 0, 10.73)), url(./assets/backdrops/gone_with_the_wind-backdrop.jpg);'>
    </div>
  </div>
</div>
