<div *ngIf="isMetadataLoaded"
[ngClass]="{'user-inactive':isUserInactive}">

  <div id='videoPlayerOuter' (mousemove)='onNotIdle()'
    (keydown)="onKeyPress($event)" tabindex="1"
    style='position: relative; background-color: black; width: 100%; height: calc(100vh - 50px);'>
    <div id='videoContainer' style='position:absolute; width:100%; height:100%; text-align:center; z-index: 20;'
      (click)='togglePlay()' (dblclick)='toggleFullScreen()'>
      <!-- animation: ytp-bezel-fadeout .5s linear 1 normal forwards; -->
      <video #videoPlayer1 id='videoPlayer' style="width:100%; height:100%;" poster="">

        <source [src]='streamLink' controlsList="nodownload" type="video/mp4">

      </video>
      <div style='position: relative; bottom: 100px'>
        <span class='subtitle-span'>{{currentDisplay1}}</span><br />
        <span class='subtitle-span'>{{currentDisplay2}}</span>
      </div>
    </div>

    <div style='position: absolute;z-index: 21;margin-top: 45vh;margin-left: 45vw;'>
      <mat-spinner *ngIf='isSeeking' [diameter]='100' style='margin: auto;'></mat-spinner>
      <!-- video center icons -->
      <!-- play,pause,mute,unmute,loading -->
    </div>

    <div id='playerControlsContainer' style='width: 100%; height:45px; left: 0; bottom:0px;  position:absolute'
      [hidden]='isUserInactive'>
      <div id='progressBarContainer' #progressBar (mousemove)='mouseMove($event)' (click)='seek()' data-toggle='tooltip'
        title='{{seekTooltip}}'>
        <!-- [ngClass]="{'progress-bar-focus':isMouseOver==true}" -->
        <span #tooltipSpan id='tooltipSpan' style='z-index: 9999;'>00:00</span>
        <!-- played -->

        <div class='buffered-bar' [ngStyle]="{'width': played}">
        </div>
        <!-- scrubber -->
        <!-- <div [ngStyle]="{'width': played}"  style="height: 100%; background-color: red; ">
    </div> -->
        <!-- loaded maybe use scaleX for transform-->
        <div [ngStyle]="{'width': buffered}"
          style="height: 100%; background-color: gray; z-index: 20; left: 0; position: absolute">
        </div>
        <div
          style="width: 100%; height: 100%; background-color: antiquewhite; z-index: 19; left: 0; position: absolute">
        </div>
      </div>

      <!-- video stats  -->
      <!-- <div [hidden]='!isShowStatus' style="width: 50%; left: 0; top:10%; position:absolute; z-index: 21;
    margin-left: 50px;padding: 10px;float: left;overflow: auto;background-color: rgba(0, 0, 0, 0.5);">
      <button class='btn btn-primary' (click)='isShowStatus=false'>Close</button>
      <div *ngIf="statsForNerds.id" style="display: flex; flex-direction: row;">
        <!-- align-items: flex-start; -->
      <!-- <p style=" font-weight: 500;">ID/Hash:&nbsp;</p>
    <p> {{statsForNerds.id}}</p>
  </div>
  <div *ngIf="statsForNerds.resolution" style="display: flex; flex-direction: row;">
    <p style=" font-weight: 500;">Resolution:&nbsp;</p>
    <p> {{statsForNerds.resolution}}</p>
  </div>
  <div *ngIf="statsForNerds.source" style="display: flex; flex-direction: row;">
    <p style=" font-weight: 500;">Source:&nbsp;</p>
    <p> {{statsForNerds.source}}</p>
  </div>
  <div *ngIf="statsForNerds.downSpeed" style="display: flex; flex-direction: row;">
    <p style=" font-weight: 500;">Download Speed:&nbsp;</p>
    <p> {{statsForNerds.downSpeed}}</p>
  </div>
  <div *ngIf="statsForNerds.upSpeed" style="display: flex; flex-direction: row;">
    <p style=" font-weight: 500;">Upload Speed:&nbsp;</p>
    <p> {{statsForNerds.upSpeed}}</p>
  </div>
  <div *ngIf="statsForNerds.ratio" style="display: flex; flex-direction: row;">
    <p style=" font-weight: 500;">Ratio:&nbsp;</p>
    <p> {{statsForNerds.ratio}}</p>
  </div>
  <div *ngIf="statsForNerds.downloadedPieces" style="display: flex; flex-direction: row;">
    <p style=" font-weight: 500;">Pieces Downloaded:&nbsp;</p>
    <p> {{statsForNerds.downloadedPieces}}</p>
  </div>
  <div *ngIf="statsForNerds.bufferhealth" style="display: flex; flex-direction: row;">
    <p style=" font-weight: 500;">Buffered Health:&nbsp;</p>
    <p> {{statsForNerds.bufferhealth}}</p>
  </div>

</div>  -->

      <div id='controlsContainer'
        style="width: 100%; height: 40px; background-color: black; z-index: 20; left: 0; position: relative; display:flex;">
        <div style='float:left; display: flex; flex: 1; white-space: nowrap; overflow: hidden; padding-left: 5px;'>
          <div (click)='togglePlay()'>
            <!-- videoPlayer1.paused   -->
            <div *ngIf="canPlay">

              <img *ngIf="videoPlayer1.paused" class='player-controls-icon' src='./assets/icons/play-solid.svg'
                data-toggle='tooltip' title='Play'>
              <img *ngIf="!videoPlayer1.paused" class='player-controls-icon' src='./assets/icons/pause.svg'
                data-toggle='tooltip' title='Pause'>
            </div>
          </div>
          <div (click)='toggleMute()'>
            <img *ngIf="(videoPlayer1 && videoPlayer1.muted) " class='player-controls-icon'
              src='./assets/icons/mute.svg' data-toggle='tooltip' title='Unmute'>
            <img *ngIf="(videoPlayer1 && !videoPlayer1.muted) || volume <= 0" class='player-controls-icon'
              src='./assets/icons/volume.svg' data-toggle='tooltip' title='Mute'>
          </div>
          <mat-slider (input)="volumeChange($event.value)" [(value)]="volume" min="0" max="100" step="1"
            data-toggle='tooltip' title='Change volume'></mat-slider>
        </div>
        <div style='float:right; padding-right: 5px;'>
          <img (click)='isShowStatus=true' class='player-controls-icon' src='./assets/icons/status.svg'
            data-toggle='tooltip' title='Stats'>
          <span *ngIf="videoPlayer1" data-toggle='tooltip' title='Time lapsed'>{{currentTime|toHHMMSS}}</span>/
          <span data-toggle='tooltip' title='Duration'>{{videoTime.duration|toHHMMSS}}</span>

          <img class='player-controls-icon' src='./assets/icons/subtitle.svg' [matMenuTriggerFor]="subtitlesMenu"
            data-toggle='tooltip' title='Subtitles'>
          <mat-menu #subtitlesMenu="matMenu" yPosition="above">
            <button mat-menu-item [matMenuTriggerFor]="subtitlesAppearanceMenu">Appearance</button>
            <button mat-menu-item>Off</button>
            <button mat-menu-item (click)="changeCc()">Select from file...</button>
          </mat-menu>
          <mat-menu #subtitlesAppearanceMenu="matMenu" yPosition="above">
            <button mat-menu-item [matMenuTriggerFor]="subtitlesAppearanceFontColorMenu">Font Color</button>
            <button mat-menu-item [matMenuTriggerFor]="subtitlesAppearanceFontSizeMenu">Font Size</button>
            <button mat-menu-item [matMenuTriggerFor]="subtitlesAppearanceBackgroundColorMenu">Background
              Color</button>
          </mat-menu>
          <mat-menu #subtitlesAppearanceFontColorMenu="matMenu" yPosition="above">
            <span *ngFor="let color of fontColorsList">
              <button mat-menu-item (click)="changeFontColor(color.value)">{{color.label}}</button>
            </span>
          </mat-menu>
          <mat-menu #subtitlesAppearanceFontSizeMenu="matMenu" yPosition="above">
            <span *ngFor="let fontSize of fontSizeList">
              <button mat-menu-item (click)="changeFontSize(fontSize.value)">{{fontSize.label}}</button>
            </span>
          </mat-menu>
          <mat-menu #subtitlesAppearanceBackgroundColorMenu="matMenu" yPosition="above">
            <span *ngFor="let color of fontColorsList">
              <button mat-menu-item (click)="changeBackgroundColor(color.value)">{{color.label}}</button>
            </span>
          </mat-menu>

          <img (click)='toggleFullScreen()' class='player-controls-icon' src='./assets/icons/fullscreen.svg'
            data-toggle='tooltip' title='Fullscreen'>
        </div>
      </div>
    </div>
  </div>
</div>
