.player-controls-icon {
  height: 100%;
  filter: invert(1) contrast(.5);
  cursor: pointer;
  display: inline-block;
  width: 40px;
  padding: 9px;
}

.player-controls-icon:hover {
  filter: invert(1) contrast(1)
}

#progressBarContainer {
  width: 100%;
  height: 5px;
  position: relative;
  cursor: pointer;
  z-index: 30;
  text-decoration: none;
  position: relative;
}

#progressBarContainer #tooltipSpan {
  display: none;
}

.progress-bar-focus {
  height: 8px
}

.buffered-bar {
  height: 100%;
  background-color: red;
  z-index: 21;
  left: 0;
  position: absolute
}

#progressBarContainer:hover {
  height: 8px;

  #tooltipSpan {
    display: block;
    position: fixed;
    overflow: hidden;
  }

  .buffered-bar {
    background-color: hsl(19, 100%, 50%)
  }
}


.subtitle-span {
  color: white;
  background-color: black;
}

.user-inactive {
  cursor: none;

  #playerControlsContainer {
    display: none
  }
}
