<div (keypress)='onKeyPress($event)' [ngClass]="{'user-inactive':isUserInactive}">
  <!-- <div style='background-color: black;width: 100%;height: calc(100vh - 50px);'> -->
  <!-- <video *ngIf="showVideo" src="https://www.radiantmediaplayer.com/media/bbb-360p.mp4 -->
  <!-- " id="videoPlayer" controls style="width: 100%;height:100%;"> -->
  <!-- <video #videoPlayer1 id='videoPlayer' style="width:100%; height:100%;" poster=""
        preload="none" autoplay> -->
  <!-- <video *ngIf="showVideo" style="width:100%;height:100%;" poster="" controls preload="none"> -->
  <!-- <source [src]='streamLink' controlsList="nodownload" type="video/mp4">
            <source src="https://s3.eu-central-1.amazonaws.com/pipe.public.content/short.mp4" type="video/mp4">
              <track label="English subtitles" kind="subtitles" srclang="en"
              src="D:\\workspaces\\git_repos\\mdb-electron\\cameron\\src\\assets\\sample-subtitles.vtt" default> -->
  <!-- <source src="http://localhost:3001/0" type="video/mp4"> -->
  <!-- <track label="English subtitles" kind="subtitles" srclang="en" [src]="subtitles" default> -->
  <!-- </video> -->
  <!-- </video> -->
  <!-- </div> -->

  <div id='videoPlayerOuter' (mousemove)='onNotIdle()'
    style='position: relative; background-color: black; width: 100%; height: calc(100vh - 50px);'>
    <div id='videoContainer' style='position:absolute; width:100%; height:100%; text-align:center; z-index: 20;'
      (click)='togglePlay()' (dblclick)='toggleFullScreen()'>
      <!-- animation: ytp-bezel-fadeout .5s linear 1 normal forwards; -->
      <video #videoPlayer1 id='videoPlayer' style="width:100%; height:100%;" poster="" preload="none" autoplay
        muted="true">

        <source [src]='streamLink' controlsList="nodownload" type="video/mp4">
        <!-- <source src="https://s3.eu-central-1.amazonaws.com/pipe.public.content/short.mp4" type="video/mp4"> -->

      </video>
      <div style='position: relative; bottom: 100px'>
        <span class='subtitle-span'>{{currentDisplay1}}</span><br />
        <span class='subtitle-span'>{{currentDisplay2}}</span>
      </div>
    </div>

    <div id='playerControlsContainer' style='width: 100%; height: 6%; left: 0; bottom:0;  position:absolute'>
      <div id='progressBarContainer' #progressBar (mousemove)='mouseMove($event)' (click)='seek($event)'
        style="width: 100%; height: 5px; position: relative; cursor: pointer; z-index: 30;">
        <span #tooltipSpan id='tooltipSpan' style='z-index: 9999;'>00:00</span>
        <!-- played -->
        <div [ngStyle]="{'width': played}"
          style="height: 100%; background-color: red; z-index:21; left:0; position: absolute">
        </div>
        <!-- scrubber -->
        <!-- <div [ngStyle]="{'width': played}"  style="height: 100%; background-color: red; ">
      </div> -->
        <!-- loaded maybe use scaleX for transform-->
        <div [ngStyle]="{'width': buffered}"
          style="height: 100%; background-color: gray; z-index: 20; left: 0; position: absolute">
        </div>
        <div
          style="width: 100%; height: 100%; background-color: antiquewhite; z-index: 19; left: 0; position: absolute">
        </div>
      </div>
      <div id='controlsContainer'
        style="width: 100%; height: 40px; background-color: black; z-index: 20; left: 0; position: relative; display:flex;">
        <div style='float:left; display: flex; flex: 1; white-space: nowrap; overflow: hidden; padding-left: 5px;'>
          <div (click)='togglePlay()'>
            <img *ngIf="videoPlayer1.paused" class='player-controls-icon' src='./assets/icons/play-solid.svg'>
            <img *ngIf="!videoPlayer1.paused" class='player-controls-icon' src='./assets/icons/pause.svg'>
          </div>
          <div (click)='toggleMute()'>
            <img *ngIf="(videoPlayer1 && videoPlayer1.muted) " class='player-controls-icon'
              class='player-controls-icon' src='./assets/icons/mute.svg'>
            <img *ngIf="(videoPlayer1 && !videoPlayer1.muted) || volume <= 0" class='player-controls-icon'
              class='player-controls-icon' src='./assets/icons/volume.svg'>
          </div>
          <mat-slider (input)="volumeChange($event.value)" [(value)]="volume" min="0" max="100" step="1"></mat-slider>
        </div>
        <div style='float:right; padding-right: 5px;'>
          <span *ngIf="videoPlayer1">{{currentTime|toHHMMSS}}</span>/
          <span>{{videoTime.duration|toHHMMSS}}</span>

          <img class='player-controls-icon' src='./assets/icons/subtitle.svg' [matMenuTriggerFor]="subtitlesMenu">
          <mat-menu #subtitlesMenu="matMenu" yPosition="above">
            <button mat-menu-item [matMenuTriggerFor]="subtitlesAppearanceMenu">Appearance</button>
            <button mat-menu-item>Off</button>
            <button mat-menu-item (click)="changeCc()">Select from file...</button>
          </mat-menu>
          <mat-menu #subtitlesAppearanceMenu="matMenu" yPosition="above">
            <button mat-menu-item [matMenuTriggerFor]="subtitlesAppearanceFontColorMenu">Font Color</button>
            <button mat-menu-item [matMenuTriggerFor]="subtitlesAppearanceFontSizeMenu">Font Size</button>
            <button mat-menu-item [matMenuTriggerFor]="subtitlesAppearanceBackgroundColorMenu">Background Color</button>
          </mat-menu>
          <mat-menu #subtitlesAppearanceFontColorMenu="matMenu" yPosition="above">
            <span *ngFor="let color of fontColorsList">
              <button mat-menu-item (click)="changeFontColor(color)">{{color}}</button>
            </span>
          </mat-menu>
          <mat-menu #subtitlesAppearanceFontSizeMenu="matMenu" yPosition="above">
            <span *ngFor="let fontSize of fontSizeList">
              <button mat-menu-item (click)="changeFontSize(fontSize.value)">{{fontSize.label}}</button>
            </span>
          </mat-menu>
          <mat-menu #subtitlesAppearanceBackgroundColorMenu="matMenu" yPosition="above">
            <span *ngFor="let color of fontColorsList">
              <button mat-menu-item (click)="changeBackgroundColor(color)">{{color}}</button>
            </span>
          </mat-menu>

          <img (click)='toggleFullScreen()' class='player-controls-icon' src='./assets/icons/fullscreen.svg'>
        </div>
      </div>
    </div>
  </div>

  <div [hidden]='false'>
    <!-- <button class='btn btn-primary'>Close</button> -->
    <!-- <p>ID/Hash: {{statsForNerds.id}}</p> -->
    <!-- <p>Resolution: {{statsForNerds.resolution}}</p> -->
    <!-- <p>Source: {{statsForNerds.source}}</p>
  <p>Download Speed: {{statsForNerds.downSpeed}}</p>
  <p>Upload Speed: {{statsForNerds.upSpeed}}</p>
  <p>Ratio: {{statsForNerds.ratio}}</p>
  <p>Pieces Downloaded: {{statsForNerds.downloadedPieces}}</p> -->
    <!-- <p>Buffered Health: {{statsForNerds.bufferhealth}}</p> -->
  </div>
</div>
