// #previewOverlayContext {
//   // opacity: 0
//   transition: .3s
// }

#previewOverlayContext:hover {
  opacity: 1;
}

.overlayInvisible {
  opacity: 0;
  transition: 0.3s;
}

.overlayInvisible :hover {
  opacity: 1;
}

#closeIcon {
  background-image: url(../../../../assets/icons/close.svg);
  position: absolute;
  filter: invert(1);
  cursor: pointer;
  height: 24px;
  width: 24px;
  right: 20px;
  top: 20px;
  z-index: 10000;
  transition: transform 0.2s ease-in-out;
}

#closeIcon:hover {
  transform: scale(1.1);
  filter: invert(0.8);
}
