// duplicated
.circle-available {
  height: 15px;
  width: 15px;
  background-color: rgb(8, 185, 8);
  box-shadow: 0 0 10px #38ec14;
  border-radius: 50%;
  position: relative;
  left: 130px;
  top: 25px;
  z-index: 2;
}

// duplicated
.movie-card {
  padding: 5px;
  outline: none;
  // border: 2px solid #ebebeb;
  // border-radius: 7px;
}


.movie-card-image-container {
  background-color: rgb(32, 32, 32);
  box-shadow: 0 0 10px black;
  position: relative;
  background-size: cover;
  background-position: center
}

.movie-card-body {
  padding: 5px 0px 0px 0px !important;
}

.overlay-add {
  background-color: #38ec14;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.movie-card-title {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  cursor: pointer;
  margin-bottom: 0px;
}

.movie-card-title:hover {
  text-decoration: underline;
}

// .movie-card-selected img {
//   //   padding: 5px;
//   // outline: none;
//   opacity: .5;
//   //   border-color: #e22e2e;
//   // box-shadow: 0 0 10px #e22e2e;
//   // border: 2px solid #dadada;
//   //   border-radius: 7px;
//   // transition: .3s
// }

.movie-card-selected .overlay {
  opacity: .5;
}

.movie-card-image-container:hover img {
  opacity: .5;
}


// old

// duplicated
.movie-card-selected {
  padding: 5px;
  outline: none;
  border-color: #e22e2e;
  box-shadow: 0 0 10px #e22e2e;
  border: 2px solid #dadada;
  border-radius: 7px;
  transition: 333ms
}
