<app-selected-list></app-selected-list>

<div class="container-fluid" style='padding-top: 10vh'>
  <div *ngIf="dashboardLists">
    <div *ngFor="let list of dashboardLists">
      <h3>{{list.name}}</h3>
      <div class="container-fluid" id="list" style="overflow-y:hidden;overflow-x:scroll;">

        <div class='d-inline-flex'>

          <div *ngFor="let movie of list" [ngStyle]="{'width': cardWidth}">
            <div class='flex-fill movie-card' [ngClass]="{'movie-card-selected': movie.isHighlighted}"
              style="margin:3px; cursor: pointer">

              <!-- <div class="form-check" style="position:relative;left:15px;top:25px;z-index: 2"> -->
              <!-- <input class="form-check-input" type="checkbox" [checked]="movie.isHighlighted" hidden="!isHighlighted"> -->
              <!-- </div> -->

              <!-- <div class="circle-available" *ngIf='movie.isAvailable' data-toggle="tooltip" title="Available offline">
              </div> -->

              <!-- <div style="width:154px;height: 231px;border:solid" data-toggle="tooltip" title="{{movie.overview}}"> -->
              <!-- <img src="https://image.tmdb.org/t/p/w154/{{movie.poster_path}}" alt="{{movie.title}}"> -->
              <!-- </div> -->
              <!-- <h6 (click)=onSelect(movie) class='text-primary' style='cursor: pointer'>{{movie.title}}</h6> -->

              <div (click)=onHighlight(movie)
                [ngStyle]="{'height': 'calc(1.45 * '+ cardWidth + ')','background-image':'url(https://image.tmdb.org/t/p/w154'+movie.poster_path+')'}"
                class='movie-card-image-container image-container'>
                <div class='movie-available' *ngIf="movie.isAvailable" data-toggle='tooltip' title='Available offline'>
                </div>
                <div class="overlay overlay-add">
                </div>
              </div>
              <div class="card-body movie-card-body">
                <div class="movie-card-text">
                  <h6 class="card-title" (click)="goToMovie(movie.id)"
                    class='text-primary movie-card-title text-hyperlink' data-toggle='tooltip' title='{{movie.title}}'>
                    {{movie.title}}</h6>
                  <label class='text-hyperlink' style='float: left'>{{getYear(movie.release_date)}}</label>
                  <label *ngIf='movie.vote_average>0' style='float: right' data-toggle='tooltip'
                    title='{{movie.vote_count}} votes'><img style='height:10px;
                    -webkit-filter: invert(1);margin-bottom: 4px;
    margin-right: 2px;' src='./assets/icons/star.svg' />{{movie.vote_average}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div *ngIf='selectedMovies'>
    <button class='btn btn-success' (click)='onDownloadSelected()'>Download selected</button>
    <button class='btn btn-danger' (click)='onClearSelected()'>Clear selected</button>
  </div> -->
  <div *ngIf='!browserConnection'>
    <h1>You are offline</h1>
  </div>
</div>
