<!-- Single card
<button class="btn-primary">Select All</button>
<div class='d-inline-flex' onmouseover="" style="cursor: pointer">
  <div class='flex-fill movie-card' [ngClass]="{'movie-card-selected': isHighlighted}" style="margin-top:100px"
    (click)=onHighlight()>
    <div class="form-check" style="position:relative;left:15px;top:25px;z-index: 2">
      <input class="form-check-input" type="checkbox" [checked]="isHighlighted" hidden="!isHighlighted"
        id="defaultCheck1">
    </div>
    <div class="circle-available" data-toggle="tooltip" title="Available offline">
    </div>
    <div style="width:154px;height: 231px;border:solid">
    </div>
    <h6 (click)=onSelect() class='text-primary'>Finding Nemo</h6>
  </div>
</div> -->

<!-- single list
<div class="container-fluid">
  <div *ngIf="topMoviesFromYear">
    <h3>{{topMoviesFromYear.name}}</h3>
    <a class="carousel-control-prev" id="carousel-prev" (click)='scrollPrev()' data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <div class="container-fluid" id="topMoviesFromYearPanel" style="overflow-y:hidden;overflow-x:scroll;">
      <div class='d-inline-flex'>
        <div *ngFor="let movie of topMoviesFromYear">
          <div class='flex-fill movie-card' [ngClass]="{'movie-card-selected': movie.isHighlighted}"
            style="margin:3px; cursor: pointer" (click)=onHighlight(movie)>
            <div class="form-check" style="position:relative;left:15px;top:25px;z-index: 2">
              <input class="form-check-input" type="checkbox" [checked]="movie.isHighlighted" hidden="!isHighlighted"
                id="defaultCheck1">
            </div>
            <div class="circle-available" *ngIf='movie.isAvailable' data-toggle="tooltip" title="Available offline">
            </div>
            <img src="https://image.tmdb.org/t/p/w154/{{movie.poster_path}}" alt="{{movie.title}}">
            <h6 (click)=onSelect(movie) class='text-primary'>{{movie.title}}</h6>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-next" id="carousel-next" (click)='scrollNext()' data-slide="prev">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div> -->

<div class="container-fluid" style='padding-top: 10vh'>
  <div *ngIf="dashboardLists">
    <div *ngFor="let list of dashboardLists">
      <h3>{{list.name}}</h3>
      <div class="container-fluid" id="list" style="overflow-y:hidden;overflow-x:scroll;">
        <div class='d-inline-flex'>

          <div *ngFor="let movie of list">
            <div class='flex-fill movie-card' [ngClass]="{'movie-card-selected': movie.isHighlighted}"
              style="margin:3px; cursor: pointer" (click)=onHighlight(movie)>

              <div class="form-check" style="position:relative;left:15px;top:25px;z-index: 2">
                <input class="form-check-input" type="checkbox" [checked]="movie.isHighlighted" hidden="!isHighlighted"
                  id="defaultCheck1">
              </div>
              <div class="circle-available" *ngIf='movie.isAvailable' data-toggle="tooltip" title="Available offline">
              </div>

              <div style="width:154px;height: 231px;border:solid">
                <img src="https://image.tmdb.org/t/p/w154/{{movie.poster_path}}" alt="{{movie.title}}">
              </div>
              <h6 (click)=onSelect(movie) class='text-primary'>{{movie.title}}</h6>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>

  <button class='btn btn-success' (click)='onDownloadSelected()'>Download selected</button>
  <button class='btn btn-danger' (click)='onClearSelected()'>Clear selected</button>

  <div *ngIf='!browserConnection'>
    <h1>You are offline</h1>
  </div>
</div>
