<div class="mdb-dialog-container">
  <h2 mat-dialog-title class="dialog-title">About MDB</h2>
  <mat-dialog-content class="dialog-content">
    <div class="about-content">
      <div class="app-logo-large">MDB</div>
      <p class="app-description">Your personal cinematic universe tracker.</p>
      
      <mat-list>
        <mat-list-item>
          <span class="label">Version:</span>
          <span class="value">1.0.0-alpha</span>
        </mat-list-item>
        <mat-list-item>
          <span class="label">Author:</span>
          <span class="value">Jommel</span>
        </mat-list-item>
      </mat-list>

      <div class="links-section mt-4">
        <h4 class="section-title">Resources</h4>
        <div class="d-flex gap-3">
          <a href="https://github.com/jomellikesturtles/mdb-electron" target="_blank" class="mdb-link">GitHub Repo</a>
          <a href="https://www.themoviedb.org/" target="_blank" class="mdb-link">TMDB</a>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="close-btn">Close</button>
  </mat-dialog-actions>
</div>
