
div {
  outline-style: auto;
  outline-width: 1px;
  outline-color: red;
}

.see-more-label {
  opacity: 0.3;
}

.card-list-container:hover {
  transition: 0.5s;
  background-color: #333333;

  .see-more-label {
    opacity: 1;
  }
}
