<div class='card-list-container' style='margin-top:40px; border-bottom:10px'>
  <div style='display:flex; position: relative; width: 100%; height: 40px; align-items: center;'>
    <span style='float:left; flex: 1; white-space: nowrap; overflow: hidden; padding-left: 5px; position: absolute;'>
      <h3 style='display: inline-block;'>{{title}}</h3>
      <p *ngIf="totalCount" style='display: inline-block;'>{{totalCount}} films</p>
    </span>
    <label class='see-more-label' *ngIf="moviesList.length > 6" style='float:right; padding-right: 5px;position: absolute;
      cursor: pointer; padding-right: 20px; right: 0;' (click)='seeAll()'>See more</label>
  </div>
  <mat-divider [inset]="false"></mat-divider>
  <div class='container-fluid card-list-horizontal'>
    <app-card-list [movieList]='moviesList' [displayMode]='"d-inline-flex"' [listType]='"none"' [cardWidth]='"130px"'>
    </app-card-list>
  </div>
</div>
