<div style='justify-content: space-between; display: flex;'>
  <p>{{fieldLabel}}</p>
  <!-- <ng-template *ngTemplateOutlet="templateRef; context : this"></ng-template> -->
  <ng-container [ngTemplateOutlet]='this[inputType]'></ng-container>
</div>

<ng-template #select>
  <div [formGroup]="parentForm">
    <mat-form-field appearance="fill">
      <mat-select [formControlName]='mdbFormControlName'>
        <mat-option *ngFor="let option of optionSelections" [value]="option.value"
          (onSelectionChange)='onChangeFunc($event.source.value)'>
          {{option.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #text>
  <div [formGroup]="parentForm">
    <mat-form-field appearance="fill">
      <input matInput [formControlName]='mdbFormControlName' type="text" style='color:white' />
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clickClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #checkbox>
  <div [formGroup]="parentForm">
    <mat-checkbox [formControlName]='mdbFormControlName' class="example-margin">
    </mat-checkbox>
  </div>
</ng-template>