<div class='navbar' style='-webkit-user-select: none; -webkit-app-region: drag;height: 50px;'>
  <!-- <a class="row" routerLink="./dashboard">Home</a>
  <a class="row" (click)='navigateBack()'>Back</a> -->
  <!-- <div class="row"> -->
  <!-- <div class="col-12"> -->
  <!-- <div class="col-sm-6"> -->
  <div style='width: 350px;'></div>
  <div class='search-controls-container' style='margin-left: 350px;'>
    <input #searchBar name="searchBar" class="form-control" id="search-bar" [(ngModel)]="searchQuery.query"
      style='margin-right: 10px; border-radius: .25rem; min-width: 200px;color:black'
      placeholder="Search title or IMDb id" (keyup.enter)="onSearch(searchQuery.query);" list='searchHistory' />
    <datalist id="searchHistory">
      <option *ngFor="let item of searchHistoryList">
        {{item}}
    </datalist>
    <button class="btn btn-danger input-group-btn" (click)="searchBar.value=''" style='margin-right: 10px'>x</button>
    <button class="btn btn-success input-group-btn" id="search-button" (click)="onSearch(searchQuery.query);"
      style='margin-right: 10px'>Search</button>
    <button class="btn btn-outline-light input-group-btn" style='margin-right: 10px;width: 300px;'
      id="advanced-search-button" data-toggle="collapse" data-target="#demo" (click)='onAdvancedSearch()'>Advanced
      Search</button>

    <div class='dropdown'>
      <img style='height:30px;width: 30px;' id='dropdownMenuButton' class='icon-img' src='./assets/icons/human.svg'
        data-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
      <div class='dropdown-menu' aria-labelledby="dropdownMenuButton">
        <a class='dropdown-item'>Profile</a>
        <a class='dropdown-item'>Bookmarks</a>
        <a class='dropdown-item'>Watched</a>
        <div class='dropdown-divider'></div>
        <a *ngIf="isSignedIn" class='dropdown-item' href='#'>Sign out</a>
        <a *ngIf="!isSignedIn" class='dropdown-item' href='#'>Sign in</a>
      </div>
    </div>
  </div>

  <!-- </div> -->
  <div class='window-controls-container'>
    <div class='window-icon-bg' (click)="onMinimize()">
      <img class='icon-img' src='./assets/icons/minimize.svg'>
    </div>
    <div class='window-icon-bg' (click)="onRestore()">
      <img class='icon-img' src='./assets/icons/maximize.svg'>
    </div>
    <div class='window-icon-bg window-close' (click)="onExit()">
      <img class='icon-img' src='./assets/icons/close.svg'>
    </div>
  </div>
  <!-- <div class="col-sm-3"> -->
  <!-- <button class="btn btn-outline-light input-group-btn" style='margin-right: 10px' id="advanced-search-button"
            data-toggle="collapse" data-target="#demo">Advanced Search</button> -->
  <!-- </div> -->
  <!-- </div> -->
</div>

<!-- advaned find -->
<!-- <div style='margin-top: 30px;display:none'> -->
<div style='margin-top: 30px;z-index: 55;display:none'>
  <h4>Region</h4>
  <button class='btn'></button>
  <h4>Genre</h4>
  <div class="form-check form-check-inline list-criteria-container" *ngFor="let genre of genresList">
    <div class='criteria-item btn'>
      <input class="form-check-input" type="checkbox" id="{{genre.id}}" value="{{genre.id}}">
      <label class="form-check-label" for="{{genre.id}}">{{genre.name}}</label>
    </div>
  </div>
  <h4>Decade</h4>
  <div class="form-check form-check-inline list-criteria-container" *ngFor="let decade of decadesList">
    <input class="form-check-input" type="radio" id="{{decade.value}}" name="inlineRadioOptions"
      value="{{decade.value}}">
    <label class="form-check-label" for="{{decade.value}}">{{decade.display}}</label>
  </div>
  <h4>Vote average</h4>
  <div class="form-check form-check-inline list-criteria-container" *ngFor="let decade of decadesList">
    <input class="form-check-input" type="radio" id="{{decade.value}}" name="inlineRadioOptions"
      value="{{decade.value}}">
    <label class="form-check-label" for="{{decade.value}}">{{decade.display}}</label>
  </div>
  <h4>Vote count</h4>
  <div class="form-check form-check-inline list-criteria-container" *ngFor="let decade of decadesList">
    <input class="form-check-input" type="radio" id="{{decade.value}}" name="inlineRadioOptions"
      value="{{decade.value}}">
    <label class="form-check-label" for="{{decade.value}}">{{decade.display}}</label>
  </div>
  <h4>Language</h4>
  <div class="form-check form-check-inline list-criteria-container" *ngFor="let decade of decadesList">
    <input class="form-check-input" type="radio" id="{{decade.value}}" name="inlineRadioOptions"
      value="{{decade.value}}">
    <label class="form-check-label" for="{{decade.value}}">{{decade.display}}</label>
  </div>
</div>

<!-- <div> -->
<!-- search queries: {{searchQuery.keywords}}, {{searchQuery.startYear}}, {{searchQuery.endYear}},
    {{searchQuery.genres.description}}, {{searchQuery.type}}, {{searchQuery.isAvailable}} -->
<!-- </div> -->
