<div style='-webkit-user-select: none; -webkit-app-region: drag;height: 50px; background-color:black;'>
  <div id='title-drag-region'
    style='z-index: -1;-webkit-app-region: drag;top: 0;left: 0;display: block;position: absolute;width: 100%;height: 100%;'>
  </div>
  <div id='app-logo' routerLink='/dashboard'
    style='position: absolute;z-index: 3000;left: 0; -webkit-app-region: no-drag;'>
    <h1 style='cursor: pointer'>LOGO</h1>
  </div>
  <div class='search-controls-container' style='margin-left: 260px;z-index: 3000;
  position: absolute;
  transform: translate(0%,12%);'>
  
    <div class='btn-group'>

      <input data-toggle='tooltip' title='Search title or IMDb id' #searchBar name="searchBar" class="form-control"
        [(ngModel)]="searchQuery.query"
        style='padding-right: 2rem;width:400px;margin-right: 10px; border-radius: .25rem; min-width: 50px;color:black'
        placeholder="Search" (keyup.enter)="onSearch(searchQuery.query);" list='searchHistory' />
      <datalist id="searchHistory">
        <option *ngFor="let item of searchHistoryList">
          {{item}}
      </datalist>
      <div id='searchClear' [style.visibility]="searchBar.value===''? 'hidden': 'visible'" (click)="searchBar.value=''"
        data-toggle='tooltip' title='Clear' style='
    background-image: url("./assets/icons/close.svg");'></div>
    </div>

    <div id='searchEnter' style='background-image: url("./assets/icons/magnifiying-glass.svg");'
      (click)="onSearch(searchQuery.query);" data-toggle='tooltip' title='Search'></div>

    <button class="btn btn-outline-light input-group-btn" style='width: 300px;' id="advanced-search-button"
      data-toggle="collapse" title='Opens advanced search' data-target="#demo" (click)='onAdvancedSearch()'>Advanced
      Search</button>

  </div>
  <div class='dropdown' data-toggle='tooltip' style='z-index: 3000;
  margin-left: auto;
  position: absolute;
  right: 138px;
  height: 40px;
  width: 40px; -webkit-app-region: no-drag;'>
    <img style='cursor: pointer;height:80%;width: 80%; transform: translate(13%,12%);' title='Profile options'
      id='dropdownMenuButton' class='icon-img' src='./assets/icons/human.svg' data-toggle='dropdown'
      aria-haspopup="true" aria-expanded="false" href='#'>

    <div class='dropdown-menu' aria-labelledby="dropdownMenuButton">
      <a class='dropdown-item' routerLink='./user/profile' href='#'>Profile</a>
      <a class='dropdown-item' routerLink='./profile' href='#'>Account Settings</a>
      <a class='dropdown-item' routerLink='./bookmarks' href='#'>Bookmarks</a>
      <a class='dropdown-item' routerLink='./watched' href='#'>Watched</a>
      <div class='dropdown-divider'></div>
      <a *ngIf="isSignedIn" class='dropdown-item' style='cursor: pointer;' (click)='signOut()'>Sign out</a>
      <a *ngIf="!isSignedIn" class='dropdown-item' style='cursor: pointer;' routerLink='./user' href='#'>Sign in</a>
    </div>
  </div>

  <div *ngIf="isElectron" class='window-controls-container'>
    <div class='window-icon-bg' (click)="onMinimize()">
      <img class='icon-img' src='./assets/icons/minimize.svg'>
    </div>
    <div class='window-icon-bg' (click)="onRestore()">
      <img class='icon-img' src='./assets/icons/maximize.svg'>
    </div>
    <div class='window-icon-bg window-close' (click)="onExit()">
      <img class='icon-img' src='./assets/icons/close.svg'>
    </div>
  </div>
</div>

<!-- advaned find -->
<!-- <div style='margin-top: 30px;display:none'> -->
<div style='margin-top: 30px;z-index: 55;display:none'>
  <h4>Region</h4>
  <button class='btn'></button>
  <h4>Genre</h4>
  <div class="form-check form-check-inline list-criteria-container" *ngFor="let genre of genresList">
    <div class='criteria-item btn'>
      <input class="form-check-input" type="checkbox" id="{{genre.id}}" value="{{genre.id}}">
      <label class="form-check-label" for="{{genre.id}}">{{genre.name}}</label>
    </div>
  </div>
  <h4>Decade</h4>
  <div class="form-check form-check-inline list-criteria-container" *ngFor="let decade of decadesList">
    <input class="form-check-input" type="radio" id="{{decade.value}}" name="inlineRadioOptions"
      value="{{decade.value}}">
    <label class="form-check-label" for="{{decade.value}}">{{decade.display}}</label>
  </div>
  <h4>Vote average</h4>
  <div class="form-check form-check-inline list-criteria-container" *ngFor="let decade of decadesList">
    <input class="form-check-input" type="radio" id="{{decade.value}}" name="inlineRadioOptions"
      value="{{decade.value}}">
    <label class="form-check-label" for="{{decade.value}}">{{decade.display}}</label>
  </div>
  <h4>Vote count</h4>
  <div class="form-check form-check-inline list-criteria-container" *ngFor="let decade of decadesList">
    <input class="form-check-input" type="radio" id="{{decade.value}}" name="inlineRadioOptions"
      value="{{decade.value}}">
    <label class="form-check-label" for="{{decade.value}}">{{decade.display}}</label>
  </div>
  <h4>Language</h4>
  <div class="form-check form-check-inline list-criteria-container" *ngFor="let decade of decadesList">
    <input class="form-check-input" type="radio" id="{{decade.value}}" name="inlineRadioOptions"
      value="{{decade.value}}">
    <label class="form-check-label" for="{{decade.value}}">{{decade.display}}</label>
  </div>
</div>

<!-- <div> -->
<!-- search queries: {{searchQuery.keywords}}, {{searchQuery.startYear}}, {{searchQuery.endYear}},
    {{searchQuery.genres.description}}, {{searchQuery.type}}, {{searchQuery.isAvailable}} -->
<!-- </div> -->
