/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  justify-content: flex-start
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  // margin: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

.autocomplete-items:hover {
  background-color: #e9e9e9
}

.window-controls-container {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  -webkit-app-region: no-drag;
  height: 30px;
  width: 138px;
  margin-left: auto;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
}

.window-icon-bg {
  display: inline-block;
  -webkit-app-region: no-drag;
  height: 100%;
  width: 33.34%;
  transition: .2s;
}

.window-icon-bg:hover {
  background-color: rgba(231, 231, 231, 0.6);
}

.window-close:hover {
  background-color: rgb(255, 0, 0);
}

.icon-img {
  height: 12px;
  filter: invert(1) contrast(1);
}
