@font-face {
  font-family: 'Akira'; /*a name to be used later*/
  src: url('../../../assets/fonts/akira_expanded/Akira\ Expanded\ Demo.otf'); /*URL to font*/
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  justify-content: flex-start
}

* {
  // color:white
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  // margin: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

.autocomplete-items:hover {
  background-color: #e9e9e9
}

.search-controls-container {
  display: flex;
  -webkit-app-region: no-drag;
}

.window-controls-container {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  -webkit-app-region: no-drag;
  height: 30px;
  width: 138px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3000;
  margin-left: auto;
}

.window-icon-bg {
  display: inline-block;
  -webkit-app-region: no-drag;
  height: 100%;
  width: 33.34%;
  transition: .2s;
}

.window-icon-bg:hover {
  background-color: rgba(231, 231, 231, 0.6);
}

.window-close:hover {
  background-color: rgb(255, 0, 0);
}

.icon-img {
  height: 12px;
  filter: invert(1) contrast(1);
}

.list-criteria-container {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
  color: white
}

.list-criteria-container:hover {
  background-color: #ddd;
}

.criteria-item * {
  cursor: pointer;
}


#searchinput {
  width: 200px;
}

#searchClear {
  position: absolute;
  filter: invert(1) contrast(0);
  color: #ccc;
  position: absolute;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  height: 15px;
  width: 15px;
  right: 20px;
  margin: auto;
  transform: translateY(75%);
}


#searchEnter {
  position: relative;
  filter: invert(1) contrast(1);
  color: #ccc;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  height: 20px;
  width: 20px;
  // right: 20px;
  margin: auto;
  // transform: translateY(75%);
}
