<div *ngIf="isMetadataLoaded" [ngClass]="{'user-inactive':isUserInactive}">

  <!-- preview -->
  <div style='position: relative; bottom: 100px' [hidden]="!isShowSubtitles">
  </div>

  <div id='videoPlayerOuter' (mousemove)='onNotIdle()' (keydown)="onKeyPress($event)" tabindex="1"
    style='position: relative; background-color: black; width: 100%; height: calc(100vh - 50px); outline: none'>

    <!-- top HUD -->
    <!-- back, title, -->
    <div style='position: absolute; z-index: 21; display:flex;
    width: 100%; align-items: center; flex-direction: row; 
    padding-left: 10px;
    max-height: 20%;
    min-height: 60px;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: -2px 2px 2px #000000; 
    outline: solid 1px red'>
      <span>-C--</span>
      <!-- <span>Saving Private Ryan</span> -->
    </div>

    <!-- actual video -->
    <div id='videoContainer' style='position: absolute; width:100%; height:100%; text-align:center; z-index: 20;'
      (click)='togglePlay()' (dblclick)='toggleFullScreen()'>
      <!-- animation: ytp-bezel-fadeout .5s linear 1 normal forwards; -->
      <video #videoPlayer1 id='videoPlayer' style="width:100%; height:100%;" poster="">
        <source [src]='streamLink' controlsList="nodownload" type="video/mp4">
      </video>
    </div>

    <div style='position: absolute;z-index: 22;margin-top: 45vh;margin-left: 45vw;'>
      <mat-spinner *ngIf='isSeeking' [diameter]='100' style='margin: auto;'></mat-spinner>
      <!-- video center icons -->
      <!-- play,pause,mute,unmute,loading -->
    </div>

    <!-- SUBTITLES -->
    <div style='position: absolute; z-index: 21; bottom: 100px; display:flex;
    width: 100%; align-items: center;flex-direction: column;
    text-shadow: -2px 2px 2px #000000;' [hidden]="!isShowSubtitles">
      <span class='subtitle-span' [innerHTML]="subtitleLine1"></span><br />
      <span class='subtitle-span' [innerHTML]="subtitleLine2"></span>
    </div>
    <!-- <app-video-player-stats [stats]='statsForNerds'>

    </app-video-player-stats> -->

      <!-- [isPaused]='videoPlayer1.paused' -->
      <!-- [videoPlayer1]='videoPlayer1' -->
    <mdb-video-player-controls
      *ngIf='canPlay'
      [hidden]='isUserInactive'
      [isPlaying]='isPlaying'
      [isMuted]='videoPlayerElement.muted'
      [isShowSubtitles]='isShowSubtitles'
      [canPlay]='canPlay'
      [videoPlayerElement]='videoPlayerElement'
      [volume]='volume'
      [videoTime]='videoTime'
      [progressBar]='progressBar'
      (onSeekValue)='onSeek($event)'
      (onTogglePlay)='togglePlay()'
      (onToggleMute)='toggleMute($event)'
      (onToggleFullScreen)='toggleFullScreen()'
      (onToggleSubtitles)='isShowSubtitles = $event'
      (onChangeVolume)='changeVolume($event)'
      (onChangeSubtitleFile)='onChangeCc($event)'
      (onChangeFontColor)='changeFontColor($event)'
      (onChangeFontSize)='changeFontSize($event)'
      (onChangeBackgroundColor)='changeBackgroundColor($event)'
      (onChangeBackgroundOpacity)='changeBackgroundOpacity($event)'
      >
    </mdb-video-player-controls>

  </div>
</div>
