<div *ngIf="isMetadataLoaded" [ngClass]="{'user-inactive':isUserInactive}">

  http://localhost:3002/0/The.Super.Mario.Galaxy.Movie.2026.720p.BluRay.x264.AAC-%5BYTS.BZ%5D.mp4 {{streamLink}}
  <!-- preview -->
  <div style='position: relative; bottom: 100px' [hidden]="!isShowSubtitles">
  </div>

  <div id='videoPlayerOuter' (mousemove)='onNotIdle()' (keydown)="onKeyPress($event)" tabindex="1"
    style='position: relative; background-color: black; width: 100%; height: calc(100vh - 50px); outline: none'>

    <!-- top HUD -->
    <!-- back, title, -->
    <div [hidden]="isUserInactive" style='position: absolute; z-index: 21; display:flex;
    width: 100%; align-items: center; flex-direction: row;
    padding-left: 20px;
    height: 80px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    width: 100%;'>
      <span>{{ title || 'MDB Movie' }}</span>
    </div>

    <!-- actual video -->
    <div id='videoContainer' style='position: absolute; width:100%; height:100%; text-align:center; z-index: 20;'
      (click)='togglePlay()' (dblclick)='toggleFullScreen()'>
      <!-- videoPlayerhere -->
      <!-- animation: ytp-bezel-fadeout .5s linear 1 normal forwards; -->
      <video #videoPlayer1 id='videoPlayer' style="width:100%; height:100%;" poster="">
        <source [src]='streamLink' controlsList="nodownload" type="video/mp4">
        <!-- <source src='http://localhost:3002/0/The.Super.Mario.Galaxy.Movie.2026.720p.BluRay.x264.AAC-%5BYTS.BZ%5D.mp4'
          controlsList="nodownload" type="video/mp4"> -->
      </video>
    </div>

    <div style='position: absolute; z-index: 22; top: 50%; left: 50%; transform: translate(-50%, -50%);'>
      <mat-spinner *ngIf='isSeeking' [diameter]='100' style='margin: auto;'></mat-spinner>
      <!-- video center icons -->
      <!-- play,pause,mute,unmute,loading -->
      
      <!-- BEZEL / ACTION OVERLAY -->
      <div *ngIf="actionOverlayIcon || actionOverlayText" class="action-overlay-container">
        <mat-icon class="action-overlay-icon">{{ actionOverlayIcon }}</mat-icon>
        <span class="action-overlay-text">{{ actionOverlayText }}</span>
      </div>
    </div>

    <!-- SUBTITLES -->
    <div style='position: absolute; z-index: 21; bottom: 100px; display:flex;
    width: 100%; align-items: center;flex-direction: column;
    text-shadow: -2px 2px 2px #000000;' [hidden]="!isShowSubtitles">
      <span class='subtitle-span'
            [style.fontSize]="subtitleDisplaySettings?.fontSize || '2.5vh'"
            [style.color]="subtitleDisplaySettings?.fontColor ? 'rgba(' + subtitleDisplaySettings.fontColor + ',1)' : ''"
            [style.backgroundColor]="subtitleDisplaySettings?.backgroundColor ? 'rgba(' + subtitleDisplaySettings.backgroundColor + ',' + (subtitleDisplaySettings.backgroundOpacity || '1') + ')' : ''"
            [innerHTML]="subtitleLine1"></span><br />
      <span class='subtitle-span'
            [style.fontSize]="subtitleDisplaySettings?.fontSize || '2.5vh'"
            [style.color]="subtitleDisplaySettings?.fontColor ? 'rgba(' + subtitleDisplaySettings.fontColor + ',1)' : ''"
            [style.backgroundColor]="subtitleDisplaySettings?.backgroundColor ? 'rgba(' + subtitleDisplaySettings.backgroundColor + ',' + (subtitleDisplaySettings.backgroundOpacity || '1') + ')' : ''"
            [innerHTML]="subtitleLine2"></span>
    </div>
    <!-- <app-video-player-stats [stats]='statsForNerds'>

    </app-video-player-stats> -->

    <!-- [isPaused]='videoPlayer1.paused' -->
    <!-- [videoPlayer1]='videoPlayer1' -->
    <!-- canPlay {{canPlay}}
    isUserInactive{{isUserInactive}} -->
    <mdb-video-player-controls *ngIf='canPlay' [hidden]='isUserInactive' [isPlaying]='isPlaying'
      [isMuted]='videoPlayerElement.muted' [isShowSubtitles]='isShowSubtitles' [canPlay]='canPlay'
      [videoPlayerElement]='videoPlayerElement' [volume]='volume' [videoTime]='videoTime' [progressBar]='progressBar'
      (onSeekValue)='onSeek($event)' (onTogglePlay)='togglePlay()' (onToggleMute)='toggleMute()'
      (onToggleFullScreen)='toggleFullScreen()' (onToggleSubtitles)='isShowSubtitles = $event'
      (onChangeVolume)='changeVolume($event)' (onChangeSubtitleFile)='onChangeCc($event)'
      (onChangeFontColor)='changeFontColor($event)' (onChangeFontSize)='changeFontSize($event)'
      (onChangeBackgroundColor)='changeBackgroundColor($event)'
      (onChangeBackgroundOpacity)='changeBackgroundOpacity($event)'
      (onAdjustFontSize)='adjustSubtitleSize($event)'>
    </mdb-video-player-controls>

  </div>
</div>