<!-- advanced find -->

<!-- TODO: region, language -->
<div style='margin-top: 30px;z-index: 55;'>
  <div id='closeIcon' (click)="closeAdvancedSearch()" data-toggle='tooltip' title='Close Advanced Search'></div>
  <div style='margin-left: auto;margin-right: auto; width: 75%;'>
    <form [formGroup]="searchForm" #formDir='ngForm'>

      <h4>Query</h4>
      <mat-form-field class="example-form-field">
        <input matInput type="text" formControlName='query' style='color:white' />
        <button mat-button *ngIf="searchForm.controls.query.value" matSuffix mat-icon-button aria-label="Clear">
          <!-- (click)="value=''"> -->
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <h4>Genre</h4>

      <mat-checkbox class="example-margin" (change)="changeGenreAndOr($event.checked)">AND
      </mat-checkbox>
      <div style='padding:1.3em'>
        <div style='width: 100%; display: flex; flex-wrap: wrap;'>
          <section class="genre-selection" *ngFor="let genre of genresList">
            <mat-checkbox class="genre-selection" [(ngModel)]="genreListVal[genre.name]"
              [ngModelOptions]="{standalone: true}" (change)="onCheckboxChange(genre.id, $event.checked)">
              {{genre.name}}
            </mat-checkbox>
          </section>
        </div>
      </div>

      <h4>Release Year</h4>

      <mat-form-field appearance="fill">
        <mat-label>From</mat-label>
        <mat-select #releaseYearStartSelect formControlName='yearFrom'>
          <mat-option *ngFor="let year of releaseYearsFromList" (onSelectionChange)="onYearChange('from', $event)"
            [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>To</mat-label>
        <mat-select #releaseYearEndSelect formControlName='yearTo'>
          <mat-option *ngFor="let year of releaseYearsToList" [value]="year"
            (onSelectionChange)="onYearChange('to', $event)">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h4>Rating Average</h4>
      <mat-form-field appearance="fill">
        <mat-label>Rating From</mat-label>
        <mat-select #ratingsFromSelect formControlName='averageRatingFrom'>
          <mat-option *ngFor="let rating of averageRatingsFromList" [value]="rating.value"
            (onSelectionChange)='onAverageRatingChange("from", $event)'>
            {{rating.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Rating To</mat-label>
        <mat-select #ratingsToSelect formControlName='averageRatingTo'>
          <mat-option *ngFor="let rating of averageRatingsToList" [value]="rating.value"
            (onSelectionChange)='onAverageRatingChange("to", $event)'>
            {{rating.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h4>Sort By</h4>
      <mat-form-field appearance="fill" style='width:30ch'>
        <mat-label></mat-label>
        <mat-select #sortBySelect formControlName='sortBy'>
          <mat-option *ngFor="let i of sortByList" [value]="i.value">
            {{i.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </form>
    <mdb-button></mdb-button>
    <button id='clearButton' class="accent-color" mat-flat-button (click)='clearAdvancedSearch()'>Clear</button>
    <button mat-flat-button color="warn" (click)='goAdvancedSearch()'>Search</button>
  </div>
</div>