<!-- advanced find -->
<!-- <div style='margin-top: 30px;display:none'> -->
<div style='margin-top: 30px;z-index: 55;'>
  <div style='margin-left: auto;margin-right: auto; width: 75%;'>
    <!-- <h4>Region</h4>
    <button class='btn'></button> -->
    <form [formGroup]="searchForm" #formDir='ngForm'>

      <h4>Query</h4>
      <mat-form-field class="example-form-field">
        <!-- <mat-label>Query</mat-label> -->
        <input matInput type="text" formControlName='query' />
        <button mat-button *ngIf="searchForm.controls.query.value" matSuffix mat-icon-button aria-label="Clear"
          (click)="searchForm.controls.query.value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <h4>Genre</h4>

      <div>
        <section class="example-section" *ngFor="let genre of genresList">
          <mat-checkbox class="example-margin" (change)="onCheckboxChange(genre.id, $event.checked)">{{genre.name}}
          </mat-checkbox>
        </section>
      </div>

      <h4>Release Year</h4>
      <h1 #testClass id='test-class'>From</h1>
      <div class="form-check form-check-inline list-criteria-container">

        <mat-form-field appearance="fill">
          <mat-label></mat-label>
          <mat-select #releaseYearStart formControlName='fromYear'>
            <mat-option *ngFor="let i of releaseYearsFromList" (onSelectionChange)="onYearChange('from', $event)"
              [value]="i">
              {{i}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label></mat-label>
          <mat-select #releaseYearEnd formControlName='toYear'>
            <mat-option *ngFor="let i of releaseYearsToList" [value]="i"
              (onSelectionChange)="onYearChange('to', $event)">
              {{i}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label></mat-label>
          <mat-select #releaseYearEnd formControlName='sortBy'>
            <mat-option *ngFor="let i of sortByList" [value]="i.value"
              (onSelectionChange)='myEvent("onSelectionChange")' (dirChange)='myEvent("dirChange")'
              (ngModelChange)='myEvent("ngModelChange")'>
              {{i.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

    </form>
    <!-- <input class="form-check-input" type="radio" id="{{decade.value}}" name="inlineRadioOptions"
      value="{{decade.value}}">
    <label class="form-check-label" for="{{decade.value}}">{{decade.display}}</label> -->
    <!-- <h4>Vote average</h4>
    <div class="form-check form-check-inline list-criteria-container" *ngFor="let decade of decadesList">
      <input class="form-check-input" type="radio" id="{{decade.value}}" name="inlineRadioOptions"
        value="{{decade.value}}">
      <label class="form-check-label" for="{{decade.value}}">{{decade.display}}</label>
    </div>
    <h4>Vote count</h4>
    <div class="form-check form-check-inline list-criteria-container" *ngFor="let vote of voteCountList">
      <input class="form-check-input" type="radio" id="{{vote.value}}" name="inlineRadioOptions" value="{{vote.value}}">
      <label class="form-check-label" for="{{vote.value}}">{{vote.label}}</label>
    </div>
    <h4>Language</h4>
    <div class="form-check form-check-inline list-criteria-container" *ngFor="let decade of decadesList">
      <input class="form-check-input" type="radio" id="{{decade.value}}" name="inlineRadioOptions"
        value="{{decade.value}}">
      <label class="form-check-label" for="{{decade.value}}">{{decade.display}}</label>
    </div> -->
    <h4>Sort by</h4>

    <button (click)='clearAdvancedSearch()'>Clear</button>
    <button (click)='goAdvancedSearch()'>Search</button>
  </div>
</div>
