<div>

  <div>
    <div class='image-container'
      style='border-radius: 50%; height:100px;width:100px;background-image: url("./assets/offline-image/clint-eastwood.jfif");'>
    </div>
    <!-- let movie of (movies$| async)?.movies -->
    <!-- <div class='image-container' style='border-radius: 50%; height:100px;width:100px;'
    [ngStyle]="{'background-image':'url('+photoUrl+')'}"> </div> -->
    <p>{{userProfile.bio}}</p>
    <h2>{{userProfile.username}}</h2>
  </div>
  <button (click)='exportUserData()'>Export user data...</button>
  <mat-tab-group>
    <mat-tab label="Overview">
      <ng-container [ngTemplateOutlet]='overviewTemplate'></ng-container>
    </mat-tab>
    <mat-tab label="Movies">
      <ng-container [ngTemplateOutlet]='overviewTemplate'></ng-container>
    </mat-tab>
    <mat-tab label="Series" disabled></mat-tab>
    <mat-tab label="Music" disabled></mat-tab>
    <mat-tab label="Podcast" disabled></mat-tab>
    <mat-tab label="Video Games" disabled></mat-tab>
  </mat-tab-group>

  <ng-template #overviewTemplate>

    <app-horizontal-card-list [title]='"Watchlist"' [totalCount]='13' [moviesList]='moviesList'></app-horizontal-card-list>
    <app-horizontal-card-list [title]='"Favorites"' [totalCount]='23' [moviesList]='moviesList'></app-horizontal-card-list>

    <div>
      <h3>My Stats</h3>
      <label>You have {{userProfile.bookmarkedCount}} bookmarked movies.</label>
      <button routerLink='./bookmarks' href='#' *ngIf="userProfile.bookmarkedCount">Bookmarks</button>
      <label>You have watched {{userProfile.watchedCount}} movies.</label>
      <button routerLink='./watched' href='#' *ngIf="userProfile.watchedCount">Watched</button>
    </div>
    <div>
      <h3>Most Played</h3>
    </div>
  </ng-template>
</div>
  <!-- <input type="file" id="myfile" placeholder="Upload file" accept=".jpg,.jpeg,.png" name="myfile"
    (change)='uploadFile($event.target.files)'>
    <button class='btn btn-primary'>Change
      profile image</button>
    <p>{{firebaseUser$.email}}</p> -->

    <!-- <div class='container'>
      <div class='row'>
        <div class='col'>
          <h3>My Information</h3>
          <label>Username: <input [value]='userProfile.username' /></label>
          <label>Password: <input /><button (click)='changePassword()'>Change</button></label>
          <label>Email Address: <input [value]='userProfile.emailAddress' /><button
            (click)='changeEmailAddress()'>Change</button></label>
            <button (click)='onSave()'>Save</button>
            <button (click)='onReset()'>Reset</button>
            <button (click)='onSignOut()'>Sign out: </button>
          </div>
        </div>
      </div> -->
