<div class='image-container'
  style='border-radius: 50%; height:100px;width:100px;background-image: url("./assets/icons/human.svg");' ngStyle='{}'>
</div>
<!-- let movie of (movies$| async)?.movies -->
<div class='image-container' style='border-radius: 50%; height:100px;width:100px;'
  [ngStyle]="{'background-image':'url('+firebaseUser$.photoURL+')'}"> </div>
<p>{{firebaseUser$.displayName}}</p>

<!-- <form action="/action_page.php">
  <label for="myfile"></label>
  <input type="file" id="myfile" name="myfile"><br><br>
  <input type="submit">
</form> -->
<input type="file" id="myfile" placeholder="Upload file" accept=".jpg,.jpeg,.png" name="myfile"
  (change)='uploadFile($event.target.files)'>

firebaseUser$.
<button class='btn btn-primary'>Change
  profile image</button>
<p>{{firebaseUser$.email}}</p>
<!-- [ngStyle]="{'height': 'calc(1.45 * '+ cardWidth +
  ')','background-image':'url(https://image.tmdb.org/t/p/w342'+movie.poster_path+')'}" -->
<!-- <button class='btn btn-primary'>Change profile image</button> -->

<div class='container'>
  <div class='row'>
    <div class='col'>
      <h3>My Information</h3>
      <label>Username: <input [value]='userProfile.username' /></label>
      <label>Password: <input /><button (click)='changePassword()'>Change</button></label>
      <label>Email Address: <input [value]='userProfile.emailAddress' /><button
          (click)='changeEmailAddress()'>Change</button></label>
      <button (click)='onSave()'>Save</button>
      <button (click)='onReset()'>Reset</button>
      <button (click)='onSignOut()'>Sign out: </button>
    </div>
  </div>
</div>
<div>
  <h3>My Stats</h3>
  <label>You have {{userProfile.bookmarkedCount}} bookmarked movies.</label>
  <button routerLink='./bookmarks' href='#' *ngIf="userProfile.bookmarkedCount">Bookmarks</button>
  <label>You have watched {{userProfile.watchedCount}} movies.</label>
  <button routerLink='./watched' href='#' *ngIf="userProfile.watchedCount">Watched</button>
</div>
<div>
  <h3>Most Played</h3>
</div>
