<div *ngIf="showVideo">
  <app-video-player [streamLink]='streamLink'></app-video-player>
</div>
<div
  [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url(https://image.tmdb.org/t/p/original/x7O7oJO7BeXWvqXpLa5YoJd8ZD5.jpg)'}"
  style='background-size: cover;background-repeat: no-repeat;background-position: center;height: 100%;
  background-attachment: fixed;'>
  <div style='padding-top: 70px; padding-bottom: 100px'>
    <div style="color:white; text-shadow: 3px 3px 5px rgb(44, 27, 27);">
      <div class="container">

        <div class="row">
          <div class="col-sm-4" style='padding-left: 0px'>
            <div class='img-container'
              [ngStyle]="{'background-image':'url(https://image.tmdb.org/t/p/w342'+movieDetails.posterPath+')','height':'calc(1.481*300px)'}"
              style='background-size: cover; background-position: center; width: 100%; background-color: white;'>

              <div style="border: 1px;border-color: black;">
                <p style='color: black;'>
                  <!-- {{certification}} -->
                  PG
                </p>
              </div>
            </div>
            <div class='uk-button-group'>
              <button [disabled]='procBookmark' class='btn btn-small bookmark-icon'
                [ngClass]="{'btn-success': !isBookmarked,'btn-danger':isBookmarked}" (click)='toggleBookmark()'
                data-toggle='tooltip' title='Toggle Bookmark'>
                <span *ngIf="isBookmarked">Remove bookmark</span>
                <span *ngIf="!isBookmarked">Add bookmark</span>
              </button>

              <!-- <button [disabled]=' procWatched' class='btn btn-small' -->
              <button class='btn btn-small' [ngClass]="{'btn-success': !isWatched,'btn-danger':isWatched}"
                (click)='toggleWatched()' data-toggle='tooltip' title='Mark as Watched'>
                <span *ngIf="isWatched">Unmark as watched</span>
                <span *ngIf="!isWatched">Mark as watched</span>
              </button>

              <button class='btn btn-small'
                [ngClass]="{'btn-success': !userData.favorite,'btn-danger':userData.favorite}"
                (click)='toggleFavorite()' data-toggle='tooltip' title='Toggle Favorite'>
                <span *ngIf="userData.favorite">Unmark as Favorite</span>
                <span *ngIf="!userData.favorite">Mark as Favorite</span>
              </button>
            </div>
          </div>
          <div class="col-sm-8">

            <div style='display: flex;'>
              <!-- <h2 id="movie-title">{{movieDetails.original_title}}</h2>&nbsp; -->
              <h2 id="movie-title">{{movieDetails.title}}</h2>&nbsp;

              <h2 *ngIf="movieDetails.releaseDate" class='text-hyperlink'
                (click)='goToDiscover("year",getYear(movieDetails.releaseDate))'>
                ({{movieDetails.releaseDate|releaseYear}})
              </h2>
              <h3>{{movieDetails.vote.voteAverage}}</h3>
            </div>

            <mat-tab-group>
              <mat-tab label="Overview">
                <ng-container [ngTemplateOutlet]='overviewTemplate'></ng-container>
              </mat-tab>
              <mat-tab label="Comments" disabled>
                <ng-container [ngTemplateOutlet]='overviewTemplate'></ng-container>
              </mat-tab>
              <mat-tab label="Credits">
                <ng-container [ngTemplateOutlet]='creditsTemplate'></ng-container>
              </mat-tab>
              <mat-tab label="Similar Movies">
                <ng-container [ngTemplateOutlet]='similarMoviesTemplate'></ng-container>
              </mat-tab>
            </mat-tab-group>

            <ng-template #overviewTemplate>
              <div style='display: flex;'>
              </div>
              <p id="movie-runtime" class="">{{movieDetails.runtime|runtimeDisplay}}</p>
              <span class='text-hyperlink' (click)='goToDiscover("genre",item.id)'
                *ngFor="let item of movieDetails.genres; let isLast=last">
                {{item.name}}{{isLast ? '' : ', '}}
              </span>

              <p id="movie-plot" style='overflow-wrap: break-word !important;
            word-wrap: break-word !important;
            white-space: pre-line;'>{{movieDetails.overview}}</p>


              <!-- unified play button -->
              <div class="btn-group" *ngIf="playLinks.length > 0">
                <button type="button" class="btn btn-danger" (click)='playBestPlayLink()'>Play</button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let playLink of playLinks">
                    <a class="dropdown-item" (click)='playMovie(playLink)'> {{playLink.type}} | {{playLink.name}}
                      {{playLink.quality}}</a>
                  </li>
                </ul>
              </div>

              <button class='btn btn-primary' (click)='continueWatching()' *ngIf='hasContinueWatching'>
                Continue Watching
              </button>
              <button class='btn btn-primary' (click)='playTrailer()' *ngIf='movieTrailer'>
                Play Trailer
              </button>

              <p *ngIf="movieDetailsDirectors">Directed by
                <span class='text-hyperlink' (click)='goToDiscover("person",director.id,director.name)'
                  *ngFor="let director of movieDetailsDirectors; let isLast=last">
                  {{director.name}}{{isLast ? '' : ', '}}
                </span>
              </p>
              <p *ngIf="movieDetailsWriters">Written by
                <span class='text-hyperlink' (click)='goToDiscover(writer.id)'
                  *ngFor="let writer of movieDetailsWriters; let isLast=last">
                  {{writer.name}}{{isLast ? '' : ', '}}
                </span>
              </p>
              <p *ngIf="movieDetailsProducers">Produced by
                <span class='text-hyperlink' (click)='goToDiscover(producer.id)'
                  *ngFor="let producer of movieDetailsProducers; let isLast=last">
                  {{producer.name}}{{isLast ? '' : ', '}}
                </span>
              </p>
              <div>
                <p *ngIf="movieDetailsCast">Cast</p>
                <span class='text-hyperlink' (click)='goToDiscover(cast.id)'
                  *ngFor="let cast of movieDetailsCast; let isLast=last">
                  {{cast.name}}{{isLast ? '' : ', '}}
                </span>
              </div>

              <div>
                <!-- external links -->
                <!-- <div class='row'>
                  <div class='customBtn' style='background-color:#f5de50;cursor: pointer' (click)="goToLink('imdb')">
                    <span class='icon' style='background: url(./assets/icons/imdb-logo.png);'></span>
                    <span class='buttonText'>Imdb</span>
                  </div>
                  <a (click)="goToLink('google')" style="cursor: pointer">Google</a>
                  <div (click)="goToLink('tmdb')" data-toggle='tooltip' title='{{movieDetails.tmdbId}}'>
                    Tmdb
                  </div>
                  <div *ngIf="movieDetails.website" class='text-hyperlink' (click)="goToLink('website')"
                    data-toggle='tooltip' title='{{movieDetails.website}}'>
                    Website
                  </div>
                  <div *ngIf="movieDetails.external_ids" class='row'>
                    <div *ngIf="movieDetails.external_ids.facebook_id" class='text-hyperlink'
                      (click)="goToLink('facebook', movieDetails.external_ids.facebook_id)">
                      Facebook
                    </div>
                    <div *ngIf="movieDetails.external_ids.instagram_id" class='text-hyperlink'
                      (click)="goToLink('twitter', movieDetails.external_ids.instagram_id)">
                      Twitter
                    </div>
                    <div *ngIf="movieDetails.external_ids.twitter_id" class='text-hyperlink'
                      (click)="goToLink('instagram', movieDetails.external_ids.twitter_id)">
                      Instagram
                    </div>
                  </div>
                </div> -->
              </div>
            </ng-template>
          </div>
        </div>

        <div class="table-responsive-lg container" *ngIf="false">
          <table class="table">
            <thead>
            </thead>
            <tbody>
              <tr *ngFor="let torrent of torrents">
                <td>
                  <a [href]="sanitize(torrent)">{{torrent.name}}</a>
                </td>
                <td>
                </td>
                <td>
                  <p>{{torrent.seeds}}</p>
                </td>
                <td>
                  <p>{{torrent.peers}}</p>
                </td>
                <td>
                  <button class="btn btn-primary" (click)="copyToClipboard(torrent.magnetLink)">Copy to
                    clipboard</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class='container'>
        <ng-template #creditsTemplate>
          <div class="row">
            Cast
            <h5 class='text-hyperlink' (click)='goToFullCredits()'>See more...</h5>
            <div id='featuredCastAndCrewDisplay' class='d-inline-flex' style="overflow-y:hidden; overflow-x:auto;">
              <div *ngFor="let cast of movieDetails.credits.cast" style='margin-right: 20px;'>
                <div (click)='goToPerson(cast.id)' class='image-container'
                  style='height: 200px; width: 185px; border-radius: 50%; cursor: pointer;'
                  [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w185'+cast.profilePath+')'}">
                </div>
                <div>
                  <h6 class='text-hyperlink' (click)='goToPerson(cast.id)'>{{cast.name}}</h6>
                  <p>{{cast.character}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            Crew
            <h5 class='text-hyperlink' (click)='goToFullCredits()'>See more...</h5>
            <div id='featuredCastAndCrewDisplay' class='d-inline-flex' style="overflow-y:hidden; overflow-x:auto;">
              <div *ngFor="let crew of movieDetails.credits.crew" style='margin-right: 20px;'>
                <div (click)='goToPerson(crew.id)' class='image-container'
                  style='height: 200px; width: 185px; border-radius: 50%; cursor: pointer;'
                  [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w185'+crew.profilePath+')'}">
                </div>
                <div>
                  <h6 class='text-hyperlink' (click)='goToPerson(crew.id)'>{{crew.name}}</h6>
                  <p>{{crew.job}}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #similarMoviesTemplate>
          <div class="row">
            <!-- Recommended Movies -->
            <div id='recommendedMovies' class='d-inline-flex' style="overflow-y:hidden; overflow-x:auto;">
              <div *ngFor="let recommendedMovie of movieDetails.recommendations.results"
                style='margin-right: 8px; cursor: pointer;'>
                <div (click)='goToMovie(recommendedMovie.id)' class='image-container'
                  style='height: 190px; width: 300px'
                  [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w300'+recommendedMovie.backdrop_path+')'}">
                </div>
                <div>
                  <h6 (click)='goToMovie(recommendedMovie.id)' class='text-hyperlink'>{{recommendedMovie.title}}</h6>
                  <label class='text-hyperlink' style='float: left'
                    (click)='goToDiscover("year",getYear(recommendedMovie.release_date))'>
                    {{recommendedMovie.release_date|releaseYear}}</label>
                  <label *ngIf='recommendedMovie.vote_average>0' style='float: right' data-toggle='tooltip'
                    title='{{recommendedMovie.vote_count}} votes'>
                    <img style='height:10px;
                filter: invert(1);margin-bottom: 4px;
                margin-right: 2px;' src='./assets/icons/star.svg' />{{recommendedMovie.vote_average}}</label>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="!hasData">
  <label>The movie you were looking for was not found.</label>
  <h1>No data retrieved :(</h1>
  <h3>{{troubleQuote.quote}}</h3>
  <h5>- {{troubleQuote.title}}</h5>
</div> -->
