$mdb-primary: #FF4500;
@import '../../../variables.scss';

* {
  font-size: 1rem;
  // font-size: 1.1rem;
}

.credit-label {
  overflow: hidden;
  white-space: nowrap;
}

.credit-list-wrap {

  display: inline-block;
  // width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}

.mdb-primary {
  background-color: $mdb-primary;
}


.mdb-button {
  border-radius: 8px; // or .35em
}


@media only screen and (min-width: 765px) and (max-width: 1449px),
only screen and (min-width: 1450px) {
  // p {
  //   font-size: 4rem;
  // }

  .movie-title {
    font-size: 3.25rem;
  }
}

@media only screen and (min-width: 400px) and (max-width: 549px),
only screen and (min-width: 350px) and (max-width: 399px),
only screen and (max-width: 349px) {

  .movie-title {
    font-size: 1.625rem;
  }
}

.credit-overview-container {
  padding-top: .5em;
}

.image-cover {
  background-size: cover;
}

.mdb-poster {
  min-width: calc(280px*.67);
  min-height: 280px;
}

.mdb-poster:hover {
  box-shadow: 0 0 10px black;
  cursor: pointer;
}

.color-secondary {
  color: #b1b1b1;
}

.font-emphasize {
  font-weight: 600;
}

.details-button {
  outline: none;
  cursor: pointer;
}

.mat-tab-body-content {
  // color: black !important;
  overflow-x: hidden !important;
}

.mat-tab-label {
  color: white !important
}

.mat-tab-label-active {
  opacity: 1 !important;
}

.mat-ink-bar {
  background-color: $mdb-primary !important
}

.active-label {
  opacity: 0;
}

.play-trailer-btn {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-left: 20px;
  border-radius: 8px;
}

#ratingsIcon {
  color: hsl(56, 100%, 50%)
}

.play-btn {
  padding: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.play-btn-dropdown-toggle {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.mat-divider {
  border-top-color: rgb(202, 202, 202);
}
