<div id='videoPlayer' *ngIf='showVideo' id='target'
  style='background-color: black;width: 100%;height: calc(100vh - 50px);'>
  <!-- <video *ngIf="showVideo" src="https://www.radiantmediaplayer.com/media/bbb-360p.mp4 -->
  <!-- " id="videoPlayer" controls style="width: 100%;height:100%;"> -->
  <video *ngIf="showVideo" style="width:100%;height:100%;" poster="" controls preload="none">
    <!-- <video *ngIf="showVideo" controlsList="nodownload" style="width:100%;height:100%;" poster="" controls preload="none"> -->
    <source src="https://s3.eu-central-1.amazonaws.com/pipe.public.content/short.mp4" type="video/mp4">
    <track label="English subtitles" kind="subtitles" srclang="en" src="assets/sample-subtitles.vtt" default>
    <!-- <track label="English subtitles" kind="subtitles" srclang="en" src="/assets/sample-subtitles.srt" default> -->
  </video>
  <!-- </video> -->
</div>

  <!-- 'url(https://image.tmdb.org/t/p/w342'+movie.posterPath+')' -->
<div
  [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url(https://image.tmdb.org/t/p/original' + movieDetails._backgroundPath + ')'}"
  style='background-size: cover;background-repeat: no-repeat;background-position: center;
  background-attachment: fixed;'>
  <div style='padding-top: 70px; padding-bottom: 100px'>
    <div style="color:white; text-shadow: 3px 3px 5px black;">
<!-- 3px 3px 5px black; -->
      <div class="container">

        <div class="row">
          <div class="col-sm-4" style='padding-left: 0px'>
            <div class='img-container'
              [ngStyle]="{'background-image':'url(https://image.tmdb.org/t/p/w342'+movieDetails.posterPath+')','height':'calc(1.481*300px)'}"
              style='background-size: cover; background-position: center; width: 100%; background-color: white;'>
            </div>

            <!-- <div class='img-container'
              [ngStyle]="{'background-image':'url('+movieDetails.posterPath+')','height':'calc(1.481*300px)'}"
              style='background-size: cover; background-position: center; width: 100%; background-color: white;'>
            </div> -->
            <h3>{{isBookmarked}}</h3>
            <div class='uk-button-group'>
              <div *ngIf="isBookmarked">
                <button [disabled]='procBookmark' class='btn btn-danger btn-small' (click)='toggleBookmark()'>
                  Remove bookmark
                </button>
              </div>
              <div *ngIf="!isBookmarked">
                <button [disabled]='procBookmark' class='btn btn-success btn-small' (click)='toggleBookmark()'>
                  Add bookmark
                </button>
              </div>
              <div *ngIf="isWatched">
                <button [disabled]='procWatched' class='btn btn-danger btn-small' (click)='toggleWatched()'>
                  Unmark as watched
                </button>
              </div>
              <div *ngIf="!isWatched">
                <button [disabled]='procWatched' class='btn btn-success btn-small' (click)='toggleWatched()'>
                  Mark as watched
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-8">

            <h6>{{movieDetails.voteAverage}}</h6>
            <div style='display: flex;'>
              <h2 id="movie-title">{{movieDetails.title}}</h2>&nbsp;
              <h2 *ngIf="movieDetails.releaseDate" class='text-hyperlink'
                (click)='goToDiscover("year",getYear(movieDetails.releaseDate))'>
                ({{movieDetails.releaseDate|releaseYear}})
              </h2>
              <h2 (click)='goToDiscover("certification",movieCertification)'>{{movieCertification}}</h2>
              <button (click)='playVideo()' class='btn btn-primary'>Play</button>
            </div>

            <p id="movie-plot" style='overflow-wrap: break-word !important;
            word-wrap: break-word !important;
            white-space: pre-line;'>{{movieDetails.plot}}</p>

            <span class='text-hyperlink' (click)='goToDiscover("genre",item)'
              *ngFor="let item of movieDetails.genres; let isLast=last">
              {{item}}{{isLast ? '' : ', '}}
            </span>

            <p id="movie-runtime" class="">{{movieDetails.runtime|runtimeDisplay}}</p>
            <p *ngIf="movieDetailsDirectors">Directed by
              <span class='text-hyperlink' (click)='goToPerson(director.id)'
                *ngFor="let director of movieDetailsDirectors; let isLast=last">
                {{director.name}}{{isLast ? '' : ', '}}
              </span>
            </p>

            <p *ngIf="movieDetailsWriters">Written by
              <span class='text-hyperlink' (click)='goToPerson(writer.id)'
                *ngFor="let writer of movieDetailsWriters; let isLast=last">
                {{writer.name}}{{isLast ? '' : ', '}}
              </span>
            </p>
            <p *ngIf="movieDetailsProducers">Produced by
              <span class='text-hyperlink' (click)='goToPerson(producer.id)'
                *ngFor="let producer of movieDetailsProducers; let isLast=last">
                {{producer.name}}{{isLast ? '' : ', '}}
              </span>
            </p>

            <div *ngIf="movieDetails.isAvailable">
              <button class="btn btn-success">Play</button>
            </div>
            <div *ngIf="movieDetails.isAvailable==false">
              <p>Movie is not available</p>
            </div>
            <div>
              <!-- external links -->
              <div class='row'>
                <div class='customBtn' style='background-color:#f5de50;cursor: pointer' (click)="goToLink('imdb')">
                  <span class='icon' style='background: url(./assets/icons/imdb-logo.png);'></span>
                  <span class='buttonText'>Imdb</span>
                </div>
                <a (click)="goToLink('google')" style="cursor: pointer">Google</a>
                <div (click)="goToLink('tmdb')" data-toggle='tooltip' title='{{movieDetails.tmdbId}}'>
                  Tmdb
                </div>
                <div *ngIf="movieDetails.website" class='text-hyperlink' (click)="goToLink('website')"
                  data-toggle='tooltip' title='{{movieDetails.website}}'>
                  Website
                </div>
                <div *ngIf="movieDetails.external_ids.facebook_id" class='text-hyperlink'
                  (click)="goToLink('facebook', movieDetails.external_ids.facebook_id)">
                  Facebook
                </div>
                <div *ngIf="movieDetails.external_ids.instagram_id" class='text-hyperlink'
                  (click)="goToLink('twitter', movieDetails.external_ids.instagram_id)">
                  Twitter
                </div>
                <div *ngIf="movieDetails.external_ids.twitter_id" class='text-hyperlink'
                  (click)="goToLink('instagram', movieDetails.external_ids.twitter_id)">
                  Instagram
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="movieDetails.isAvailable">

        </div>
        <h1>video 1</h1>
        <div *ngIf="isVideoAvailable">
          <!-- <video src="/stream" id="videoPlayer" style='height:100%;width:100%' controls> -->
            <video src="http://localhost:3000/stream" id="videoPlayer" style='height:100%;width:100%' controls>
              </video>
            <!-- <source type="video/mp4"> -->
          <!-- </video> -->
        </div>
        <!-- <video src="https://www.radiantmediaplayer.com/media/bbb-360p.mp4
        " id="videoPlayer" controls>
          <source  type="video/mp4">
        </video> -->

        <div *ngIf="myVideoPath.length > 1" style='height:600px; width:800px;background-color: black;margin:auto'>
          <video [src]="myVideoPath" width="100%" height="100%" controls>
            <source type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="table-responsive-lg container">
          <table class="table">
            <thead>
            </thead>
            <tbody>
              <tr *ngFor="let torrent of torrents">
                <td>
                  <a [href]="sanitize(torrent)">{{torrent.name}}</a>
                </td>
                <td>
                </td>
                <td>
                  <p>{{torrent.seeds}}</p>
                </td>
                <td>
                  <p>{{torrent.peers}}</p>
                </td>
                <td>
                  <button class="btn btn-primary" (click)="copyToClipboard(torrent.magnet_link)">Copy to
                    clipboard</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class='container'>
        <div class="row">
          Cast
          <h5 class='text-hyperlink' (click)='goToFullCredits()'>See more...</h5>
          <div id='featuredCastAndCrewDisplay' class='d-inline-flex' style="overflow-y:hidden; overflow-x:auto;">
            <div *ngFor="let cast of movieDetails.credits.cast" style='margin-right: 20px;'>
              <div (click)='goToPerson(cast.id)' class='image-container'
                style='height: 200px; width: 185px; border-radius: 50%; cursor: pointer;'
                [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w185'+cast.profile_path+')'}">
              </div>
              <div>
                <h6 class='text-hyperlink' (click)='goToPerson(cast.id)'>{{cast.name}}</h6>
                <p>{{cast.character}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          Recommended Movies
          <div id='recommendedMovies' class='d-inline-flex' style="overflow-y:hidden; overflow-x:auto;">
            <div *ngFor="let recommendedMovie of movieDetails.recommendations.results"
              style='margin-right: 8px; cursor: pointer;'>
              <div (click)='goToMovie(recommendedMovie.id)' class='image-container' style='height: 190px; width: 300px'
                [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w300'+recommendedMovie.backdrop_path+')'}">
              </div>
              <div>
                <h6 (click)='goToMovie(recommendedMovie.id)' class='text-hyperlink'>{{recommendedMovie.title}}</h6>
                <p class='text-hyperlink' style='margin-left: 5px;'
                  (click)='goToDiscover("year",getYear(recommendedMovie.release_date))'>
                  {{recommendedMovie.release_date|releaseYear}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!hasData">
  <label>The movie you were looking for was not found.</label>
  <h1>No data retrieved :(</h1>
  <h3>{{troubleQuote.quote}}</h3>
  <h5>- {{troubleQuote.title}}</h5>
</div>
