<div
  [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url(' + movieDetails.backgroundPath + ')'}"
  style='background-size: cover;background-repeat: no-repeat;background-position: center center'>
  <div style='padding-top: 70px; padding-bottom: 100px'>
    <div style="color:white; text-shadow: 1px 1px #333333;">

      <div class="container">

        <div class="row">
          <div class="col-sm-4">
            <div class='img-container'
              [ngStyle]="{'background-image':'url('+movieDetails.posterPath+')','height':'300px'}"
              style='background-size: cover; background-position: center; width: 100%'>
            </div>
          </div>
          <div class="col-sm-8">
            <div class='uk-button-group'>
              <div *ngIf="isBookmarked">
                <button class='btn btn-basic btn-small' (click)='removeBookmark()'>
                  Remove bookmark
                </button>
              </div>
              <div *ngIf="!isBookmarked">
                <button class='btn btn-basic btn-small' (click)='addBookmark()'>
                  Add to bookmark
                </button>
              </div>
              <div *ngIf="isWatched">
                <button class='btn btn-info btn-small' (click)='removeMarkAsWatched(movieDetails.imdbId)'>
                  Unmark as watched
                </button>
              </div>
            </div>
            <div *ngIf="!isWatched">
              <button class='btn btn-info btn-small' (click)='addMarkAsWatched(movieDetails.imdbId)'>
                Mark as watched
              </button>
            </div>
            <div>
              <h2 id="movie-title" class='text-hyperlink'>{{movieDetails.title}}
                ({{movieDetails.releaseDate|releaseYear}})</h2>
              <!-- <div class="circle-available" *ngIf='movieDetails.isAvailable' data-toggle="tooltip"
                  title="Available offline"> -->
              <!-- </div> -->
            </div>

            <p id="movie-plot" style='overflow-wrap: break-word !important;
            word-wrap: break-word !important;
            white-space: pre-line;'>{{movieDetails.plot}}</p>
            <!-- <p id="movie-rated" class="">{{movieDetails.Rated}}</p> -->
            <p id="movie-genre" class="">{{movieDetails.genres|commaSpace}}</p>
            <p id="movie-runtime" class="">{{movieDetails.runtime|runtimeDisplay}}</p>
            <div class='customBtn' style='background-color:#f5de50;cursor: pointer' (click)="goToLink('imdb')">
              <span class='icon' style='background: url(./assets/icons/imdb-logo.png);'></span>
              <span class='buttonText'>Imdb</span>
            </div>
            <a (click)="goToLink('google')" style="cursor: pointer">Google</a>
            <div *ngIf="movieDetails.isAvailable">
              <button class="btn btn-success">Play</button>
            </div>
            <div *ngIf="movieDetails.isAvailable==false">
              <p>Movie is not available</p>
            </div>

          </div>
        </div>
        <div *ngIf="movieDetails.isAvailable">
        </div>
        <h1>video 1</h1>
        <!-- <div *ngIf="getVideoPath()|async">
          <h1>{{myVideoPath}}</h1>
          <div style=' background-color: black; outline: none; border-color: darkblue; box-shadow: 0 0 10px #0099FF;
              border: 2px solid black; transition: 333ms; margin-bottom:10vh;margin-top:10vh ' class=' text-center'>
              <video width="100%" controls>
                <source [src]="myVideoPath" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
          <div *ngIf="myVideoPath.length > 1">
            <h1>{{myVideoPath}}2</h1>
            <div style='background-color: black;
          outline: none; border-color: darkblue; box-shadow: 0 0 10px #0099FF;
          border: 2px solid black; transition: 333ms; margin-bottom:10vh;margin-top:10vh ' class='text-center'>
              <video width="100%" controls>
                <source [src]="myVideoPath" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </div> -->
        <!-- </div> -->
        <div class="table-responsive-lg container">
          <table class="table">
            <thead>
            </thead>
            <tbody>
              <tr *ngFor="let torrent of torrents">
                <td>
                  <a [href]="sanitize(torrent)">{{torrent.name}}</a>
                </td>
                <td>
                </td>
                <td>
                  <p>{{torrent.seeds}}</p>
                </td>
                <td>
                  <p>{{torrent.peers}}</p>
                </td>
                <td>
                  <button class="btn btn-primary" (click)="copyToClipboard(torrent.magnet_link)">Copy to
                    clipboard</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class='container'>
        <div class="row">
          Cast
          <div id='featuredCastAndCrewDisplay' class='d-inline-flex' style="overflow-y:hidden; overflow-x:auto;">
            <h5 (click)='goToMoviePersons()'>See more...</h5>
            <div *ngFor="let cast of movieDetails.credits.cast">
              <div (click)='goToPerson(cast.id)'
                style='height: 200px; width: 185px; border-radius: 50%;background-size: cover; background-position: center;'
                [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w185'+cast.profile_path+')'}">
              </div>
              <div>
                <h6 class='text-hyperlink' (click)='goToPerson(cast.id)'>{{cast.name}}</h6>
                <p>{{cast.character}}</p>
              </div>
              <!-- image -->
              <!-- name -->
            </div>
          </div>
        </div>

        <div class="row">
          Recommended Movies
          <div id='recommendedMovies' class='d-inline-flex' style="overflow-y:hidden; overflow-x:auto;">
            <div *ngFor="let recommendedMovie of movieDetails.recommendations.results"
              style='margin-right: 8px; cursor: pointer;'>
              <!-- image -->
              <!-- name -->
              <div (click)='goToMovie(recommendedMovie.id)'
                style='height: 190px; width: 300px;background-size: cover; background-position: center;'
                [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w300'+recommendedMovie.backdrop_path+')'}">
              </div>
              <div>
                <h6 (click)='goToMovie(recommendedMovie.id)' class='text-hyperlink'>{{recommendedMovie.title}}</h6>
                <p style='margin-left: 5px;'>{{getYear(recommendedMovie.release_date)}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!hasData">
      <label>The movie you were looking for was not found.</label>
      <h1>No data retrieved :(</h1>
      <h3>Houston, we have a problem.</h3>
      <h4>Apollo 13</h4>
    </div>

    <!-- <div class="force-overflow"></div> -->
    <!-- </div> -->
    <!-- </div> -->

    <!-- <div class='customBtn' style='text-align: center; background-color:#f5de50; display: inline-block; border-radius: 5%'>
    <span class='icon'
      style='background: url(../../assets/icons/imdb-logo.png);width: 50px;height:42px;vertical-align: middle;display: inline-block'></span>
  </div>
  <div class='customBtn' style='text-align: center; background-color:white; display: inline-block; border-radius: 5%'>
    <span class='icon'
      style='background: url(../../assets/icons/google-logo.png);width: 100px;height:100px;vertical-align: middle;display: inline-block'></span>
  </div>
  <div class='customBtn' style='text-align: center; background-color:white; display: inline-block; border-radius: 5%'>
    <span class='icon'
      style='background: url(../../assets/icons/google-logo.png);width: 100px;height:100px;vertical-align: middle;display: inline-block'></span>
  </div> -->
