<!-- <button>Google</button>
<button>Facebook</button>
<input placeholder="Email address">
<input placeholder="Password">
<button>Sign in</button>
<button>Sign in anonymously</button>
register -->
<div class='container-fluid' style='height:100%'>
  <div class='row' style='height:100%'>
    <div class='col col-6' style='height:100%' *ngIf="!isSignIn">
      <form [formGroup]="signUpForm" #formDir='ngForm'>
        <div class="cross-validation"
          [class.cross-validation-error]='signUpForm.errors?.isRepeatPassword && (signUpForm.touched || signUpForm.dirty)'>
          <div class='form-group'>
            <label for='username'>Username: </label>
            <input class='form-control' id='username' formControlName='username' placeholder="Username" required>
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
              <div *ngIf="username.errors.required">
                UserName is required.
              </div>
              <div *ngIf="username.errors.minlength">
                UserName must be at least 4 characters long.
              </div>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <label for='emailAddress'>Email Address: </label>
          <input class='form-control' id='emailAddress' formControlName='emailAddress' placeholder="Email Address"
            type='email' required>
          <div *ngIf="emailAddress.invalid && (emailAddress.dirty || emailAddress.touched)" class="alert alert-danger">
            <div *ngIf="emailAddress.errors.required">
              Email is required.
            </div>
            <div *ngIf="emailAddress.errors.minlength">
              Email must be at least 4 characters long.
            </div>
            <div *ngIf="emailAddress.errors.email">
              Email Format.
            </div>
          </div>
        </div>
        <div class='form-group'>
          <label for='passwordInput'>Password: </label>
          <input class='form-control' id='passwordInput' formControlName='password' placeholder="Password"
            type='password' required>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
              Password is required.
            </div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 4 characters long.
            </div>
          </div>
        </div>
        <div class='form-group'>
          <label for='repeatPasswordInput'>Repeat Password: </label>
          <input class='form-control' id='repeatPasswordInput' formControlName='repeatPassword' placeholder="Password"
            type='password' required>
          <div *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)"
            class="alert alert-danger">
            <div *ngIf="repeatPassword.errors.required">
              Password is required.
            </div>
            <div *ngIf="repeatPassword.errors.minlength">
              Password must be at least 4 characters long.
            </div>
            <div *ngIf="signUpForm.errors?.isRepeatPassword && (signUpForm.touched || signUpForm.dirty)">
              Password must be same.
            </div>
          </div>
        </div>
        <button class='btn btn-success' type='submit' (click)='onSignUp()' [disabled]='signUpForm.invalid'>Sign
          up</button>
      </form>
      <a>Already have an account? <b class='text-hyperlink' (click)='isSignIn=true'>Click here</b> to Sign in</a>
    </div>
    <!-- sign in -->
    <div class='col col-6' style='height:100%' *ngIf="isSignIn">
      <form [formGroup]="signInForm" #formDir='ngForm'>
        <div class="cross-validation"
          [class.cross-validation-error]='signInForm.errors?.isInvalidCredentials && (signInForm.touched || signInForm.dirty)'>
          <div class='form-group'>
            <label for='usernameEmail'>Username or Email: </label>
            <input class='form-control' id='usernameEmail' formControlName='usernameEmail'
              placeholder="Username or Email" required>
          </div>
        </div>
        <div class='form-group'>
          <label for='passwordInput'>Password: </label>
          <input class='form-control' id='passwordInput' formControlName='password' placeholder="Password"
            type='password' required>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
              Password is required.
            </div>
          </div>
        </div>
        <button class='btn btn-success' type='submit' (click)='onSignIn()' [disabled]='signInForm.invalid' style='width: 100%;
        border-radius: 50px;'>Sign
          in</button>

        <button (click)='onSignInGoogle()' class='btn btn-success'>Sign in with Gooogle</button>
        <!-- <button *ngIf="isOauthValid" (click)='onSignInGoogle()' class='btn btn-success'>Sign in with Gooogle</button> -->
      </form>
      <a class='text-hyperlink'>Forgotten your password?</a>
      Not registered yet? <b class='text-hyperlink' (click)='isSignIn=false'>Sign up</b>
    </div>
    <div class='col col-6 image-container'
      style='height:100%;width:100%;background-image: linear-gradient(to left, rgba(245, 246, 252, 0), rgba(-0, 0, 0, 10.73)), url(./assets/backdrops/gone_with_the_wind-backdrop.jpg);'>
    </div>
  </div>
</div>

<!--
<label>Gender</label>
<select [(ngModel)]="userSignIn.gender" class="form-control" style='width: 200px; float:right'>
  <option value='g'>Gender</option>
  <option value='m'>Male</option>
  <option value='f'>Female</option>
  <option value='n'>Rather not to say</option>
</select>
<select class="form-control" style='width: 200px; float:right'>
  <option *ngFor="let age of ageList" [value]='age'>{{age}}</option>
</select> -->
<!-- <button>Sign up anonymously</button> -->
