// MDB BRAND COLOR PALETTE
$mdb-primary: #E50914;
$mdb-secondary: #FFFFFF;
$mdb-tertiary: #E50914;

// MDB GLOBAL COLORS
$mdb-black: #141414;
$mdb-dark-gray: #181818; 
$mdb-light-gray: #E5E5E5;
$mdb-white: #FFFFFF;
$mdb-gray-text: #B3B3B3;
