<input #searchBox />
<button (click)='onSearch(searchBox.value)'>Search</button>
<button (click)='onGetLibraryFolders()'>onGetLibraryFolders</button>

<div class="container-fluid">
  <h2>General Settings</h2>
  <i class='icon-question-mark' data-toggle="tooltip" title="Enter the folders where your movie files are"></i>
  <h5>Library Folders</h5>
  <button class="btn btn-primary" (click)="onScanLibrary()">Scan Library</button>
  <input #folderName type="text" />
  <button class="btn btn-success" data-toggle="modal" data-target="#addLibraryModal"
    (click)='onOpenModal()'>Add(opensmodal)</button>

  <div class='tab' *ngFor='let folder of libraryFolders'>
    Folder: {{folder}}
    <button class="btn btn-primary" (click)="onEditFolder(folder)">Edit</button>
    <button class="btn btn-danger" (click)="onDeleteFolder(folder)">Delete</button>
  </div>
  <!-- <input id="myFile" type="file" webkitdirectory /> -->
  <!-- <button class="btn btn-success" (click)='onOpenFileExplorer()'>Add(opens file explorer)</button> -->
  <!-- <button class=" btn btn-success" (click)="onAddFolder(folderName.value); folderName.value=''">Add</button> -->
  <!-- <div *ngFor="let folder of unsavedPreferences.libraryFolders">
    <input type="text" value="{{folder}}" />
  </div> -->
  <div class='inline'>
    <h5>Offline Torrent Dump</h5>
    <span class='icon-question-mark' data-toggle="tooltip" title="Search torrent even without internet"></span>
  </div>
  <p>Last update: January 1, 1970 12:00 AM</p>
  <button class="btn btn-primary" (click)="onUpdateTorrentDump()">Update Torrent Dump</button>

  <h5>Offline Metadata</h5>
  <span class='icon-question-mark' data-toggle="tooltip" title="Enter the folders where your movie files are"></span>
  <p>Last update: January 1, 1970 12:00 AM</p>
  <button class="btn btn-primary" (click)="onUpdateOfflineMetadata()">Update Offline Metadata</button>
  <button class="btn btn-success" (click)="onSave()">Save</button>
  <button class="btn btn-warning" (click)="onReset()">Reset</button>
</div>

<!-- <h1 class="title" style="display:none">{{title}}</h1>
<button (click)="toggleTitle()"> clickhere </button> -->

<div id="addLibraryModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div>
          <button class="btn btn-info" (click)="onGoToPreviousFolder()">Back</button>
          <button class="btn btn-info" (click)="onGoToParentFolder()">Up</button>
          <input type="text">
          <h3>Add Folder</h3>
          <div class="row">
            <div class="col-6" style="background-color:yellow;">
              <p>Disks</p>
            </div>
            <div class="col-6" style="background-color:pink;">
              <p>Folders</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p>status bar...</p>
        <button class="btn btn-success" (click)="onSave()">Save</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
