<div id='hotkeysSettings'>

  <div class='grid-container'>
    <div class='grid-item'>
      <label>Action</label>
    </div>
    <div class='grid-item'>
      <label>Shortcut</label>
    </div>
    <div class='grid-item'>
      <label>Toggle Pause/Play</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.fullscreen" disabled />
    </div>
    <div class='grid-item'>
      <label>Toggle Fullscreen</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.fullscreen" />
    </div>
    <div class='grid-item'>
      <label>Toggle Mute</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.mute" />
    </div>
    <div class='grid-item'>
      <label>Go Back 5 Seconds</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.mute" />
    </div>
    <div class='grid-item'>
      <label>Go Back 10 Seconds</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.mute" />
    </div>
    <div class='grid-item'>
      <label>Go Forward 5 Seconds</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.mute" />
    </div>
    <div class='grid-item'>
      <label>Go Forward 10 Seconds</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.mute" />
    </div>
    <div class='grid-item'>
      <label>Exit menu</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.mute" />
    </div>
    <div class='grid-item'>
      <label>Increase Volume 5%</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.mute" />
    </div>
    <div class='grid-item'>
      <label>Decrease Volume 5%</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.mute" />
    </div>
    <div class='grid-item'>
      <label>Increase Playback Speed</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.mute" />
    </div>
    <div class='grid-item'>
      <label>Decrease Playback Speed</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.mute" />
    </div>
    <div class='grid-item'>
      <label>Toggle Captions</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.mute" />
    </div>
    <div class='grid-item'>
      <label>Go To Beginning of the Movie</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.mute" />
    </div>
    <div class='grid-item'>
      <label>Skip To x% Of The Movie</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.mute" />
    </div>
    <div class='grid-item'>
      <label>Go To Previous Page</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.mute" />
    </div>
    <div class='grid-item'>
      <label>Print</label>
    </div>
    <div class='grid-item'>
      <input [(ngModel)]="HOTKEYS.mute" />
    </div>
  </div>
  <button (click)='resetHotkeys()'>Reset</button>
  <button (click)='saveHotkeys()'>Save</button>
</div>

<div class="container-fluid">
  <div class="form-check" style="position:relative;left:15px;top:25px;z-index: 2">
    <input class="form-check-input" type="checkbox" [checked]="preferencesObject.isDarkMode">
  </div>

  <!-- <div class='form-inline'>
    <h2>General Settings </h2>
    <i class='icon-question-mark' data-toggle="tooltip" title="Enter the folders where your movie files are"></i>
  </div> -->
  <div class='form-inline'>
    <h2>General Settings </h2>
    <mat-divider [inset]="false"></mat-divider>
    <i class='icon-question-mark' data-toggle="tooltip" title="Enter the folders where your movie files are"></i>

    <p>Language</p>
    <select class="form-control" [(ngModel)]='language' style='width: 200px; float:right'>
      <option value='en'>English</option>
      <option value='en'>Deutsch</option>
      <option value='es'>Spanish</option>
    </select>

    <h6>System update</h6>
    <button>Keyboard Shortcuts</button>
  </div>
  <h5>Library Folders</h5>
  <button class="btn btn-success" data-toggle="modal" data-target="#addLibraryModal"
    (click)='onOpenModal()'>Add(opensmodal)</button>
  <button class="btn btn-primary" (click)="onScanLibrary()">Scan Library</button>
  <button class="btn btn-danger" (click)="onStopScanLibrary()">Stop scan
    Library</button>
  <div class="form-group">
    <label for="scanFrequencyText"></label>
    <input [(ngModel)]="preferencesObject.frequencyValue" type="text" class="form-control" name=""
      id="scanFrequencyText" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">Scan Frequency</small>
  </div>
  <select class="form-control" id="sel1" [(ngModel)]="preferencesObject.frequencyUnit">
    <option value='min'>minutes</option>
    <option value='hr'>hours</option>
    <option value='day'>days</option>
    <option value='nev'>never</option>
  </select>
  <div class='tab container-fluid' *ngFor='let folder of preferencesObject.libraryFolders;'>
    <div class='form-inline form-group'>
      <button class="btn btn-success" (click)="onOpenFolder(folder)">Open</button>
      <input type='text' class="form-control" [(ngModel)]='folder' data-toggle="tooltip" title="{{folder}}" disabled />
      <button class="btn btn-danger" (click)="onDeleteFolder(folder)">Delete</button>
    </div>
  </div>
  <!-- <input id="myFile" type="file" webkitdirectory /> -->
  <!-- <button class=" btn btn-success" (click)="onAddFolder(folderName.value); folderName.value=''">Add</button> -->
  <!-- <div *ngFor="let folder of unsavedPreferences.libraryFolders">
    <input type="text" value="{{folder}}" />
  </div> -->
  <div class='form-inline'>
    <h5>Offline Torrent Dump </h5>
    <span class='icon-question-mark' data-toggle="tooltip" title="Search torrent even without internet"></span>
  </div>
  <p>Last update: January 1, 1970 12:00 AM</p>
  <button class="btn btn-primary" (click)="onUpdateTorrentDump()">Update Torrent
    Dump</button>

  <div class='form-inline'>
    <h5>Offline Metadata </h5>
    <span class='icon-question-mark' data-toggle="tooltip" title="Enter the folders where your movie files are">
    </span>
  </div>
  <p>Last update: January 1, 1970 12:00 AM</p>
  <button class="btn btn-primary" (click)="onUpdateOfflineMetadata()">Update Offline
    Metadata</button>
  <button class="btn btn-primary" (click)="onSyncUserData()">Sync User Data</button>
  <button class="btn btn-success" (click)="onSave()">Save</button>
  <!-- <button class="btn btn-success" [disabled]='!preferencesObject.isDirty' (click)="onSave()">Save</button> -->
  <button class="btn btn-warning" [disabled]='!isDirty' (click)="onReset()">Reset</button>

  <div class='form-inline'>
    <h2>Playback</h2>
    <!-- 3rd party quality -->
    <!-- Subtitle Appearance -->

    <div>
      <h4>Playback Quality</h4>
    </div>
    <div>
      <h4>On Play...</h4>
      <!-- dropdown. (FullScreen, View Screen) -->
    </div>
    <div>
      <h4>Playback Speed</h4>
      <!-- dropdown, 1x,2x,4x,.5,.25,.75 -->
    </div>
    <div>
      <h4>Subtitle Appearance</h4>
      <!-- Font Family, -->
      <!-- Font size -->
      <!-- Font opacity -->
      <!-- Background color, opacity -->
      <!-- Window color, opacity -->
      <!-- Character edge style -->
      <!-- reset -->
    </div>
  </div>
  <div class='form-inline'>
    <h2>Statistics</h2>
    <i class='icon-question-mark' data-toggle="tooltip" title="Your system and library stats."></i>
  </div>
  <table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Library Size</td>
        <td>21.GB</td>
      </tr>
      <tr>
        <td scope="row">Library Movies</td>
        <td>30</td>
      </tr>
      <tr>
        <td scope="row">Library Movies</td>
        <td>30</td>
      </tr>
    </tbody>
  </table>
</div>

<div id="addLibraryModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)='onCloseModal()' data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div>
          <button class="btn btn-info" (click)="onGoToPreviousFolder(currentFolder)">Back</button>
          <button class="btn btn-info" (click)="onGoToParentFolder()">Up</button>
          <input type="text" [(ngModel)]="currentFolder" #currentFolderTextbox disabled>
          <!-- <button class="btn btn-info" (click)="onGoToFolder(currentFolderTextbox.value)">Go</button> -->
          <h3>Add Folder</h3>
          <div class="row">
            <div class="col-6" style="background-color: #3d3d3d;">
              <p>Disks</p>
            </div>
            <div class="col-6" style="background-color:#161616;">
              <!-- <div class="col-6" style="background-color:#fc8181;"> -->
              <p>Folders</p>
              <ul class="list-unstyled">
                <li *ngFor="let folder of foldersList">
                  <a class='folder-link' style='text-decoration: underline'
                    (click)='onGoToFolder(folder)'>{{folder}}</a>
                  <input type="checkbox" name="selected" id="myId" autocomplete="off">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p>status bar...</p>
        <button class="btn btn-success" (click)="onSave()">Save</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

