<div class="navbar">

  <!-- LEFT: Hamburger & Logo -->
  <div class="nav-left">
    <div class="hamburger-btn" (click)="toggleSidebar.emit()"
      style="cursor: pointer; padding: 5px; -webkit-app-region: no-drag;">
      <!-- <img src="./assets/icons/menu.svg" alt="Menu" style="width: 24px; height: 24px; filter: invert(1);"> -->
      <!-- <mat-icon>close</mat-icon> -->
      <!-- <mat-icon>menu</mat-icon> -->
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>

      <!-- <span class="material-symbols-outlined">
        menu
      </span> -->
    </div>

    <div id='app-logo' routerLink='/dashboard' style='-webkit-app-region: no-drag;'>
      <h1>LOGO</h1>
    </div>
  </div>

  <!-- CENTER: Cinematic Search Bar -->
  <div class="search-controls-container">
    <div class="search-wrapper">
      <form class="example-form w-100">
        <input #searchBar type="text" class="form-control" placeholder="Search titles, people, genres..."
          [(ngModel)]="searchQuery.query" name="searchQuery" (keyup.enter)="onSearch(searchQuery.query)"
          [matAutocomplete]="auto">

        <!-- Search Icon (Clickable) -->
        <img src="./assets/icons/magnifiying-glass.svg" class="search-icon" (click)="onSearch(searchQuery.query)"
          matTooltip="Search">

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </form>
    </div>

    <!-- Advanced Search Icon Button -->
    <button class="advanced-search-btn" (click)='onAdvancedSearch()' matTooltip="Advanced Search">
      <img src="./assets/icons/gear.svg" style="width: 20px; height: 20px; filter: invert(0.8);">
    </button>
  </div>

  <!-- RIGHT: Profile & Window Controls -->
  <div class="nav-right">

    <!-- Profile Avatar -->
    <div class="profile-avatar" style="background-image: url('./assets/offline-image/clint-eastwood.jfif');"
      [matMenuTriggerFor]="profileMenu" matTooltip="Account"></div>

    <mat-menu #profileMenu="matMenu" xPosition="before" class="profile-menu">
      <ng-container *ngIf="isSignedIn; else loggedOutMenu">
        <button mat-menu-item (click)="goToProfile()">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="goToSettings()">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item (click)="signOut()">
          <mat-icon>logout</mat-icon>
          <span>Sign Out</span>
        </button>
      </ng-container>

      <ng-template #loggedOutMenu>
        <button mat-menu-item (click)="signIn()">
          <mat-icon>login</mat-icon>
          <span>Sign In</span>
        </button>
      </ng-template>

      <mat-divider></mat-divider>
      
      <button mat-menu-item (click)="goToHelp()">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
      <button mat-menu-item (click)="goToAbout()">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
      <button mat-menu-item (click)="sendFeedback()">
        <mat-icon>feedback</mat-icon>
        <span>Send Feedback</span>
      </button>
    </mat-menu>

    <!-- Window Controls (Electron Only) -->
    <div *ngIf="isElectron" class="window-controls-container">
      <div class="window-icon-bg" (click)="onMinimize()">
        <img class="icon-img" src="./assets/icons/minimize.svg">
      </div>
      <div class="window-icon-bg" (click)="onRestore()">
        <img class="icon-img" src="./assets/icons/maximize.svg">
      </div>
      <div class="window-icon-bg window-close" (click)="onExit()">
        <img class="icon-img" src="./assets/icons/close.svg">
      </div>
    </div>

  </div>
</div>