<div class='movie-card' [ngStyle]="{'width': _cardWidth}">
  <div class='movie-card-image-container' data-toggle="tooltip" [ngStyle]="{'height': 'calc(1.45 *'+_cardWidth+')'}"
    title="{{movie.title}} ({{movie.releaseDate|releaseYear}})">
    <img [src]="'https://image.tmdb.org/t/p/w185'+_movie.posterPath" (error)="$event.target.src = defaultPoster"
      class="movie-poster-img" alt="{{movie.title}}" />

    <ng-container *ngIf="isAuthenticated()">
      <div class='card-button movie-bookmark' [class.active]="_isBookmarked" data-toggle='tooltip'
        title='Toggle Bookmark'>
        <button mat-icon-button (click)="toggleBookmark()" [disabled]="isProcessingBookmark"
          class="tmdb-circle-btn bookmark-btn">
          <mat-icon *ngIf="!isProcessingBookmark">{{ _isBookmarked ? 'bookmark_remove' : 'bookmark_add' }}</mat-icon>
          <mat-spinner *ngIf="isProcessingBookmark" diameter="20" class="m-auto"></mat-spinner>
        </button>
      </div>

      <div class="card-button movie-mark-favorite" [class.active]="_isFavorite" data-toggle="tooltip"
        title="Toggle Favorite">
        <button mat-icon-button (click)="toggleFavorite()" [disabled]="isProcessingFavorite"
          class="tmdb-circle-btn fav-btn">
          <mat-icon *ngIf="!isProcessingFavorite">{{ _isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
          <mat-spinner *ngIf="isProcessingFavorite" diameter="20" class="m-auto"></mat-spinner>
        </button>
      </div>

      @if(isFeatureEnabled('played_status')) {
      <div class='card-button movie-mark-as-watched' *ngIf='!_userData?.progress.isCompleted'>
        <div (click)='togglePlayed()' *ngIf='!procWatched'>
          <img class='card-button-icon' src='./assets/icons/check.svg' data-toggle='tooltip' title='Mark as watched' />
        </div>
        <div *ngIf='procWatched'>
          <mat-spinner [diameter]='20'></mat-spinner>
        </div>
      </div>

      <div *ngIf="_userData?.progress" [ngStyle]="{'width': watchedPercentage +'%'}" id='watchedProgressBar'
        class='movie-progress-bar'>
      </div>
      }
    </ng-container>

    <div class="overlay overlay-add" (click)='onPreview()'></div>
  </div>
  <div class="card-body movie-card-body">
    <div class="movie-card-text">
      <div (click)="onOpenMovie()" class='movie-card-title' data-toggle="tooltip" title="{{_movie.title}}">
        {{_movie.title}}
      </div>
      <div class='movie-year' (click)='goToYear(getYear(_movie.releaseDate))'>
        {{_movie.releaseDate|releaseYear}}
      </div>
    </div>
  </div>
</div>