<div class='image-container'
  style='border-radius: 50%; height:100px;width:100px;background-image: url("./assets/icons/human.svg");'></div>
<button>Change profile image</button>
<div class='container'>
  <div class='row'>
    <div class='col'>
      <h3>My Information</h3>
      <label>Username: <input [value]='userProfile.username' /></label>
      <label>Password: <input /><button (click)='changePassword()'>Change</button></label>
      <label>Email Address: <input [value]='userProfile.emailAddress' /><button
          (click)='changeEmailAddress()'>Change</button></label>
      <button (click)='onSave()'>Save</button>
      <button (click)='onReset()'>Reset</button>
      <button (click)='onSignOut()'>Sign out: </button>
    </div>
  </div>
</div>
<div>
  <h3>My Stats</h3>
  <label>You have {{userProfile.bookmarkedCount}} bookmarked movies.</label>
  <button *ngIf="userProfile.bookmarkedCount">Bookmarks</button>
  <label>You have watched {{userProfile.watchedCount}} movies.</label>
  <button *ngIf="userProfile.watchedCount">Watched</button>
</div>
<div>
  <h3>Most Played</h3>
</div>
