<app-selected-list></app-selected-list>

<div class="container-fluid" style='padding-top: 3vh'>
  <!-- <mdb-button (click)="getHealth()">getHealth</mdb-button>
  <mdb-button (click)="encrypt()">encrypt</mdb-button> -->
  <div *ngIf="dashboardLists">
    <div *ngFor="let list of dashboardLists">

      <app-horizontal-card-list [title]='list.name' [moviesList]='list.data' [seeAllLink]='"/discover"'
        [queryParams]='list.queryParams' [loading]="list.loading"></app-horizontal-card-list>

    </div>
  </div>

  <div *ngIf='!browserConnection'>
    <h1>You are offline</h1>
  </div>
</div>