<app-selected-list></app-selected-list>

<div class="container-fluid" style='padding-top: 10vh'>
  <div *ngIf="dashboardLists">
    <div *ngFor="let list of dashboardLists">

      <app-horizontal-card-list [title]='list.name' [moviesList]='list.data' [seeAllLink]='"/discover"' [queryParams]='list.queryParams'></app-horizontal-card-list>

      <!-- <h3>{{list.name}}</h3>
      <div class='container-fluid card-list-horizontal'>
        <app-card-list [movieList]='list.data' [cardWidth]='cardWidth' [displayMode]='"d-inline-flex"' [listType]='"none"'>
        </app-card-list>
      </div> -->
    </div>
  </div>

  <div *ngIf='!browserConnection'>
    <h1>You are offline</h1>
  </div>
</div>
