<p>video-player-stats works!</p>

    <!-- video stats  -->
    <!-- <div [hidden]='!isShowStatus' style="width: 50%; left: 0; top:10%; position:absolute; z-index: 21;
    margin-left: 50px;padding: 10px;float: left;overflow: auto;background-color: rgba(0, 0, 0, 0.5);">
      <button class='btn btn-primary' (click)='isShowStatus=false'>Close</button>
      <div *ngIf="statsForNerds.id" style="display: flex; flex-direction: row;">
        <!-- align-items: flex-start; -->
    <!-- <p style=" font-weight: 500;">ID/Hash:&nbsp;</p>
    <p> {{statsForNerds.id}}</p>
  </div>
  <div *ngIf="statsForNerds.resolution" style="display: flex; flex-direction: row;">
    <p style=" font-weight: 500;">Resolution:&nbsp;</p>
    <p> {{statsForNerds.resolution}}</p>
  </div>
  <div *ngIf="statsForNerds.source" style="display: flex; flex-direction: row;">
    <p style=" font-weight: 500;">Source:&nbsp;</p>
    <p> {{statsForNerds.source}}</p>
  </div>
  <div *ngIf="statsForNerds.downSpeed" style="display: flex; flex-direction: row;">
    <p style=" font-weight: 500;">Download Speed:&nbsp;</p>
    <p> {{statsForNerds.downSpeed}}</p>
  </div>
  <div *ngIf="statsForNerds.upSpeed" style="display: flex; flex-direction: row;">
    <p style=" font-weight: 500;">Upload Speed:&nbsp;</p>
    <p> {{statsForNerds.upSpeed}}</p>
  </div>
  <div *ngIf="statsForNerds.ratio" style="display: flex; flex-direction: row;">
    <p style=" font-weight: 500;">Ratio:&nbsp;</p>
    <p> {{statsForNerds.ratio}}</p>
  </div>
  <div *ngIf="statsForNerds.downloadedPieces" style="display: flex; flex-direction: row;">
    <p style=" font-weight: 500;">Pieces Downloaded:&nbsp;</p>
    <p> {{statsForNerds.downloadedPieces}}</p>
  </div>
  <div *ngIf="statsForNerds.bufferhealth" style="display: flex; flex-direction: row;">
    <p style=" font-weight: 500;">Buffered Health:&nbsp;</p>
    <p> {{statsForNerds.bufferhealth}}</p>
  </div>

</div>  -->
