
// https://coolors.co/ff3e04-007bff-e3c0d3-f1c40f-343330
/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  // t
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  // background-color: darkgrey;
  // outline: 1px solid slategrey;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
  background-color: #555;
}

.force-overflow {
  min-height: 350px
}

* {
  -webkit-user-select: none;
  // color: whitesmoke
}

p,
label,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  cursor: context-menu;
  color: white
}

// snackbar
#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 5000;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

.jumbo-message {
  color: slategray;
  font-size: 10vh
}

body {
  height: 100%;
  background-color: rgb(32, 32, 32);
}

.movie-cards-display-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  padding: 5px;
  outline: none;
  margin: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.overlay-add {
  background-color: #38ec14;
}

.overlay-remove {
  background-color: #fc0000;
}

.movie-card-selected .overlay-add {
  opacity: .5;
}

.movie-card-body {
  padding: 5px 0px 0px 0px !important;
}

.movie-card-selected .overlay-add {
  opacity: .5;
}

.movie-card-image-container {
  background-color: white;
  box-shadow: 0 0 10px black;
  position: relative;
  background-size: cover;
  background-position: center;
  cursor: pointer
}

.movie-card-image-container:hover img {
  opacity: .5;
}

.overlay:hover {
  opacity: .5;
}

.movie-card-title {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}

// the circle one
.movie-available {
  position: absolute;
  top: 5%;
  right: 5%;
  height: 15px;
  width: 15px;
  background-color: rgb(8, 185, 8);
  border-radius: 50%;
  box-shadow: 0 0 10px #38ec14;
  z-index: 3;
}


// bookmark
.movie-highlight {
  position: absolute;
  top: 5%;
  right: 5%;
  height: 15px;
  width: 15px;
  z-index: 3;
}

// bookmark
.movie-bookmark {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 15px;
  width: 15px;
  z-index: 3;
}

.movie-bookmark:hover {
  cursor: pointer;
  filter: invert(1)
}

.movie-mark-as-watched {
  position: absolute;
  bottom: 5%;
  left: 5%;
  // height: 15px;
  // width: 15px;
  z-index: 3;
}

.movie-mark-as-watched:hover {
  filter: invert(1)
}

.movie-progress-bar {
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 3px;
  width: 100%;
  background-color: rgb(255, 62, 4);
  // border-radius: 50%;
  // box-shadow: 0 0 10px #969696;
  z-index: 3;
}

.selected-movie-card-image-container {
  background-color: rgb(32, 32, 32);
  box-shadow: 0 0 10px black;
  position: relative;
  background-size: cover;
  background-position: center;
  cursor: pointer
}

.selected-movie-card-image-container:hover img {
  opacity: .5;
}

.selected-movie-card-image-container:hover .overlay {
  opacity: .5;
}

.text-hyperlink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.image-container {
  background-size: cover;
  background-position: center;
  background-color: white;
}
