<div class='movie-card' [ngStyle]="{'width': _cardWidth}" [ngClass]="{'movie-card-selected': _movie.isHighlighted}">
  <div
    [ngStyle]="{'height': 'calc(1.45 *'+_cardWidth+')','background-image':'url(https://image.tmdb.org/t/p/w154'+_movie.poster_path+')'}"
    class='movie-card-image-container' data-toggle="tooltip" title="{{_movie.title}} ({{_movie.release_date|releaseYear}})">
    <!-- <div
    [ngStyle]="{'height': 'calc(1.45 *'+_cardWidth+')','background-image':'url(https://image.tmdb.org/t/p/w342'+_movie.poster_path+')'}"
    class='movie-card-image-container' (click)='onHighlight(movie)'> -->
    <!-- 'w154', 'w185' -->
    <div class='movie-bookmark'>
      <div *ngIf="!procBookmark" (click)='onToggleBookmark()'>
        <img *ngIf="!(_movie.bookmark && _movie.bookmark.id)" style='height:20px; margin-bottom: 4px; margin-right: 2px;'
          src='./assets/icons/bookmark-add.svg' data-toggle='tooltip' title='Add Bookmark' />
        <img *ngIf="_movie.bookmark && _movie.bookmark.id" style='height:20px; margin-bottom: 4px;
    margin-right: 2px;' src='./assets/icons/bookmark-minus.png' data-toggle='tooltip' title='Remove Bookmark' />
      </div>
      <div *ngIf="procBookmark" class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class='movie-highlight'>
      <div *ngIf="!procHighlight" (click)='onHighlight(movie)'>
        <img *ngIf="!_movie.isHighlighted" style='height:20px; margin-bottom: 4px; margin-right: 2px;'
          src='./assets/icons/check.svg' data-toggle='tooltip' title='Highlight' />
        <img *ngIf="_movie.isHighlighted" style='height:20px; margin-bottom: 4px;
    margin-right: 2px;' src='./assets/icons/minus.svg' data-toggle='tooltip' title='Remove Highlight' />
      </div>
      <div *ngIf="procHighlight" class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!-- alt image -->
    <!-- <div style=' text-align: center; color: white;' [ngStyle]="{'height': 'calc(1.45 * '+ _cardWidth + ')'}"
        class='movie-card-image-container'>
        <h3>{{_movie.title}}</h3>
        <div class="overlay overlay-add">
        </div>-->
    <!-- end of alt image -->

    <div *ngIf="_movie.library && _movie.library.id" class='movie-available' data-toggle='tooltip' title='Available offline'>
    </div>

    <div class='movie-mark-as-watched' *ngIf='!_movie.watched'>
      <div (click)='onToggleWatched()' *ngIf='!procWatched'>
        <img style='height:20px; margin-bottom: 4px;
      margin-right: 2px;' src='./assets/icons/check.svg' data-toggle='tooltip' title='Mark as watched' />
      </div>
      <div *ngIf='procWatched' class='spinner-border spinner-border-sm' role='status'>
        <span class='sr-only'>Loading...</span>
      </div>
    </div>

    <div *ngIf="_movie.watched && _movie.watched.id" [ngStyle]="{'width': watchedPercentage}"
      id='watchedProgressBar' class='movie-progress-bar'>
    </div>
    <div class="overlay overlay-add" (click)='onPreview()'></div>
  </div>
  <div class="card-body movie-card-body">
    <div class="movie-card-text">
      <h6 (click)="onOpenMovie()" class='text-primary movie-card-title card-title text-hyperlink' style='color:white' data-toggle="tooltip"
        title="{{_movie.title}}">{{_movie.title}}</h6>
      <label class='text-hyperlink' style='float: left; font-size: 11pt;color: darkgray;'
        (click)='goToYear(getYear(_movie.release_date))'>{{_movie.release_date|releaseYear}}</label>
      <label *ngIf='_movie.vote_average>0' style='float: right; padding-right: 5px;' data-toggle='tooltip' title='{{_movie.vote_count}} votes'>
        <img style='height:10px;
      filter: invert(1);margin-bottom: 4px;
      margin-right: 2px;' src='./assets/icons/star.svg' />{{_movie.vote_average}}</label>
    </div>
  </div>
</div>
