<div style='width:100%;height:100%;position:absolute'>

  <!-- TOP -->
  <app-top-navigation style='position: fixed;top:0;height:50px;width:100%;z-index: 5;'></app-top-navigation>

  <div style='position:fixed;top:50px;height:100%;width:100%;display: flex;'>

    <!-- SIDE NAV -->
    <div id="mySidenav" class="sidenav" style='height:100%;' [ngClass]="{'collapsed':isOpenNav===false}">
      <div>
        <div style='display: flex; flex-wrap: wrap; top:0;left:0'>

          <a (click)='goPreviousPage()' class='sidenav-option'>
            <img class='side-nav-icon' src="./assets/icons/arrow-left.svg" />
          </a>
          <a (click)='goForwardPage()' class='sidenav-option'>
            <img class='side-nav-icon' src="./assets/icons/arrow-right.svg" />
          </a>
        </div>
        <a routerLinkActive='router-active' routerLink="./dashboard" class='sidenav-option'>
          <img class='side-nav-icon' src="./assets/icons/home.svg" />
          <span *ngIf="isOpenNav">Home</span>
        </a>
        <a routerLinkActive='router-active' routerLink="./browse" class='sidenav-option'>
          <img class='side-nav-icon' src="./assets/icons/globe.svg" />
          <span *ngIf="isOpenNav">Browse</span>
        </a>
        <a routerLinkActive='router-active' routerLink="./library" class='sidenav-option'>
          <img class='side-nav-icon' src="./assets/icons/server.svg" />
          <span *ngIf="isOpenNav">Library</span>
        </a>
        <a routerLinkActive='router-active' routerLink="./preferences" class='sidenav-option'>
          <img class='side-nav-icon' src="./assets/icons/gear.svg" />
          <span *ngIf="isOpenNav">Preferences</span>
        </a>
      </div>
      <div style='overflow: hidden; position: fixed; bottom: 0;' class='sidenav-option'>
        <a (click)="switchNav()">
          <span *ngIf="isOpenNav">
            <img class='side-nav-icon' src="./assets/icons/left-angle.svg" />Collapse</span>
          <img class='side-nav-icon' src="./assets/icons/right-angle.svg" *ngIf="!isOpenNav" />
        </a>
      </div>
    </div>

    <!-- MAIN -->
    <div id="main" style='height:100%;width:100%;overflow-y:auto; padding-bottom: 50px;'
      [ngStyle]="{'width':'calc(100% - '+sideNavWidth+')'}">
      <!-- <div class='row'> -->
      <!-- <div class='col col-6'> -->
      <router-outlet>LOADING...</router-outlet>
      <!-- <app-notification></app-notification>
      <app-notification></app-notification> -->
      <!-- </div> -->
      <!-- <div class='col col-6'> -->
      <!-- <app-discover></app-discover> -->
      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
