<!-- <h1 data-toggle='tooltip' title='ggg'>
  bulk-download works!
</h1> -->

<!-- <div class='container'>
  <button type='button' class='btn btn-secondary' data-toggle='popover' title='Popup title'
    data-content='Popup content'>Trigger</button>
</div> -->

<div class='container-fluid' style='padding-top: 10vh'>
  <div class='row'>
    <div class='col-4 scroll-column'>
      <div class='tab' *ngFor='let movie of displayedMovies'>
        <button (click)='onSelectMovie(movie)'>{{movie.title}}</button>
      </div>
    </div>
    <div class='col-4 scroll-column' style='padding-left: 5vw;padding-top: 5vh'>
      <div *ngIf='selectedMovie'>
        <!-- <div *ngFor='let torrent of selectedMovie[0].torrents'>
          <div class='checkbox'>
            <label>
              <input class="form-check-input" type="checkbox" [(ngModel)]='torrent.checked'
                [ngModelOptions]='{standalone:true}' id="defaultCheck1" value="">{{torrent.name}}</label>
          </div>
        </div> -->
      </div>
    </div>
    <div class='col-4 scroll-column'>
      <div class='tab-content'>
        <div *ngIf='selectedMovie==null'>
          <h1>Select a movie from the tab on the left</h1>
        </div>
        <div *ngIf='selectedMovie'>
          <div class='image-holder'>
          </div>
          <h2>{{selectedMovie.title}} ({{selectedMovie.year}})</h2>
          <label>{{selectedMovie.overview}}</label>
          <button class='btn btn-primary' (click)='goToMovie(selectedMovie)' data-toggle="tooltip"
            title="More info">More info</button>
          <button class='btn btn-success' (click)='downloadMovie(selectedMovie)' data-toggle="tooltip"
            title="Download all selected torrents for this movie">Download</button>
          <button class='btn btn-danger' (click)='removeMovie(selectedMovie)' data-toggle="tooltip"
            title="Remove movie">Remove</button>
        </div>
      </div>
    </div>
  </div>
  <button class='btn btn-success' (click)='downloadAllChecked()' data-toggle="tooltip"
    title="Download all selected torrents">Download
    all checked</button>
  <button class='btn '>Back to top</button>
</div>